<template>
    <div>
        <div class="contentLb chat">
            <div class="row-wrap">
                <div class="col-v7">
                    <div class="chatBox-wrap">
                        <div class="chatBox">
                            <div class="scroll">
                                <p class="chatBox__data">15 декабря 2018</p>
                                <div class="chatBox__message">
                                    <div class="avatar"><img src="img/man.svg" alt=""></div>
                                    <div class="text-wrap">
                                        <p class="text">вроде ссылки обещает в своем контенте на научные работы</p>
                                        <p class="text">вот вопрос почему вы занимаетесь у тренеров у которых нет КМС или МС?</p>
                                        <p class="time">22:56</p>
                                    </div>
                                </div>
                                <div class="chatBox__message">
                                    <div class="avatar"><img src="img/man.svg" alt=""></div>
                                    <div class="text-wrap">
                                        <p class="text">вроде ссылки обещает в своем контенте на научные работы</p>
                                        <p class="text">вот вопрос почему вы занимаетесь у тренеров у которых нет КМС или МС?</p>
                                        <p class="text">вроде ссылки обещает в своем контенте на научные работы</p>
                                        <p class="text">вот вопрос почему вы занимаетесь у тренеров у которых нет КМС или МС?</p>
                                        <p class="text">вроде ссылки обещает в своем контенте на научные работы</p>
                                        <p class="text">вот вопрос почему вы занимаетесь у тренеров у которых нет КМС или МС?</p>
                                        <p class="text">вроде ссылки обещает в своем контенте на научные работы</p>
                                        <p class="text">вот вопрос почему вы занимаетесь у тренеров у которых нет КМС или МС?</p>
                                        <p class="time">22:56</p>
                                    </div>
                                </div>
                                <div class="chatBox__message outgoing">
                                    <div class="text-wrap">
                                        <p class="text">Это сильно меняет отношение к нему</p>
                                        <p class="time">22:57</p>
                                    </div>
                                </div>
                                <div class="chatBox__message">
                                    <div class="avatar"><img src="img/man.svg" alt=""></div>
                                    <div class="text-wrap">
                                        <p class="text">вроде ссылки обещает в своем контенте на научные работы</p>
                                        <p class="text">вот вопрос почему вы занимаетесь у тренеров у которых нет КМС или МС?</p>
                                        <p class="time">22:56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="letterBox">
                            <div class="flex4 indent">
                                <div class="radioBtn border large">
                                    <input id="fl1" type="radio" name="fl">
                                    <label for="fl1"><span></span>Только указанному</label>
                                </div>
                                <input class="inputMin" type="text">
                                <div class="radioBtn border large">
                                    <input id="fl2" type="radio" name="fl">
                                    <label for="fl2"><span></span>Отправить всем</label>
                                </div>
                            </div>

                            <textarea class="letterBox__textarea" placeholder="Сообщение"></textarea>
                            <div class="right"><input value="Отправить" class="blackLink"></div>
                        </div>
                    </div>
                </div>
                <div class="col-v3">
                    <div class="panelOp">
                        <h3>Поступившие жалобы</h3>
                        <div class="item">
                            <div class="flex3">
                                <div class="avatar min">
                                    <img src="img/man.svg" alt="">
                                </div>
                                <div class="rightOp">
                                    <p class="text name">Все водители</p>
                                    <p class="text com">Сегодня пробки на дорогах</p>
                                    <p class="text data">15:02</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="flex3">
                                <div class="avatar min">
                                    <img src="img/man.svg" alt="">
                                </div>
                                <div class="rightOp">
                                    <p class="text name">456</p>
                                    <p class="text com">Сегодня минус 30 градусов</p>
                                    <p class="text data">12.02.2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "ChatPage"
    }
</script>

<style scoped>

</style>