<template>
    <div>

        <div v-show="loading" class="loader-container"><div class="loader"></div></div>

        <div class="contentLb" v-show="!loading">
            <div class="row-wrap">
                <div class="col-v7">

                    <tabs-component @setactivetab="setActiveTab" @applyfilter="applyFilter">

                        <tab-component :name="'На рассмотрении (' + getCountOnReviewedComplaints + ')'" :selected="true" alias="on_reviewed">
                            <div class="table-wrap">
                                <div class="scroll">
                                    <table class="table t11 accordion">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Дата</th>
                                            <th>Источник</th>
                                            <th>Телефон</th>
                                            <th>Откуда</th>
                                            <th>Куда</th>
                                            <th>Стоимость</th>
                                            <th>Позывной</th>
                                            <th>Исполнитель</th>
                                            <th>Запись</th>
                                            <th>Развернуть</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="complaint in complaints.on_reviewed" v-show="!isFilterApplied">
                                            <td>{{ complaint.id }}</td>
                                            <td>{{ 'в ' +  new Date(complaint.created_at).getHours() + ':' + new Date(complaint.created_at).getMinutes() }}</td>
                                            <td>Марина</td>
                                            <td>{{ complaint.phone }}</td>
                                            <td>Репина, 10</td>
                                            <td>Ухтомского, 12</td>
                                            <td>0,00 руб.</td>
                                            <td>000</td>
                                            <td>Автомобиль</td>
                                            <td><a onclick="playVoce('1','/assets/img/ntn.mp3',this)" class="audioBtn" id="1"></a></td>
                                            <td class="center">
                                                <button class="openLink" @click="showDetailsByComplaint">></button>
                                            </td>
                                        </tr>
                                        <tr class="accordion-item">
                                            <td colspan="11">
                                                <div class="flex4">
                                                    <p class="text"><span class="smallText block">Жалоба</span>Водитель с похмелья, Очень большая стоимость поездки </p>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr v-for="complaint in complaints.filtered" v-show="isFilterApplied && complaints.filtered.length > 0">
                                            <td>{{ complaint.id }}</td>
                                            <td>{{ 'в ' +  new Date(complaint.created_at).getHours() + ':' + new Date(complaint.created_at).getMinutes() }}</td>
                                            <td>Марина</td>
                                            <td>{{ complaint.phone }}</td>
                                            <td>Репина, 10</td>
                                            <td>Ухтомского, 12</td>
                                            <td>0,00 руб.</td>
                                            <td>000</td>
                                            <td>Автомобиль</td>
                                            <td><a onclick="playVoce('1','/assets/img/ntn.mp3',this)" class="audioBtn" id="1"></a></td>
                                            <td class="center">
                                                <button class="openLink">></button>
                                            </td>
                                        </tr>

                                        <tr class="accordion-item">
                                            <td colspan="11">
                                                <div class="flex4">
                                                    <p class="text"><span class="smallText block">Жалоба</span>Водитель с похмелья, Очень большая стоимость поездки </p>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td>
                                                <h2 v-show="isFilterApplied && complaints.filtered.length === 0">Нет результатов поиска!</h2>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </tab-component>

                        <tab-component :name="'Рассмотренные (' + getCountReviewedComplaints + ')'" alias="reviewed">
                            <div class="table-wrap">
                                <div class="scroll">
                                    <table class="table t11 accordion">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Дата</th>
                                            <th>Источник</th>
                                            <th>Телефон</th>
                                            <th>Откуда</th>
                                            <th>Куда</th>
                                            <th>Стоимость</th>
                                            <th>Позывной</th>
                                            <th>Исполнитель</th>
                                            <th>Запись</th>
                                            <th>Развернуть</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="complaint in complaints.reviewed" v-show="!isFilterApplied">
                                            <td>{{ complaint.id }}</td>
                                            <td>{{ 'в ' +  new Date(complaint.created_at).getHours() + ':' + new Date(complaint.created_at).getMinutes() }}</td>
                                            <td>Марина</td>
                                            <td>{{ complaint.phone }}</td>
                                            <td>Репина, 10</td>
                                            <td>Ухтомского, 12</td>
                                            <td>0,00 руб.</td>
                                            <td>000</td>
                                            <td>Автомобиль</td>
                                            <td><a onclick="playVoce('1','/assets/img/ntn.mp3',this)" class="audioBtn" id="1"></a></td>
                                            <td class="center">
                                                <button class="openLink">></button>
                                            </td>
                                        </tr>

                                        <tr v-for="complaint in complaints.filtered" v-show="isFilterApplied && complaints.filtered.length > 0">
                                            <td>{{ complaint.id }}</td>
                                            <td>{{ 'в ' +  new Date(complaint.created_at).getHours() + ':' + new Date(complaint.created_at).getMinutes() }}</td>
                                            <td>Марина</td>
                                            <td>{{ complaint.phone }}</td>
                                            <td>Репина, 10</td>
                                            <td>Ухтомского, 12</td>
                                            <td>0,00 руб.</td>
                                            <td>000</td>
                                            <td>Автомобиль</td>
                                            <td><a onclick="playVoce('1','/assets/img/ntn.mp3',this)" class="audioBtn" id="1"></a></td>
                                            <td class="center">
                                                <button class="openLink">></button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td>
                                                <h2 v-show="isFilterApplied && complaints.filtered.length === 0">Нет результатов поиска!</h2>
                                            </td>
                                        </tr>

                                        <tr class="accordion-item">
                                            <td colspan="11">
                                                <div class="flex4">
                                                    <p class="text"><span class="smallText block">Жалоба</span>Водитель с похмелья, Очень большая стоимость поездки </p>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </tab-component>

                        <tab-component :name="'Отклоненные (' + getCountCancelledComplaints + ')'" alias="cancelled">
                            <div class="table-wrap">
                                <div class="scroll">
                                    <table class="table t11 accordion">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Дата</th>
                                            <th>Источник</th>
                                            <th>Телефон</th>
                                            <th>Откуда</th>
                                            <th>Куда</th>
                                            <th>Стоимость</th>
                                            <th>Позывной</th>
                                            <th>Исполнитель</th>
                                            <th>Запись</th>
                                            <th>Развернуть</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="complaint in complaints.cancelled" v-show="!isFilterApplied">
                                            <td>{{ complaint.id }}</td>
                                            <td>{{ 'в ' +  new Date(complaint.created_at).getHours() + ':' + new Date(complaint.created_at).getMinutes() }}</td>
                                            <td>Марина</td>
                                            <td>{{ complaint.phone }}</td>
                                            <td>Репина, 10</td>
                                            <td>Ухтомского, 12</td>
                                            <td>0,00 руб.</td>
                                            <td>000</td>
                                            <td>Автомобиль</td>
                                            <td><a onclick="playVoce('1','/assets/img/ntn.mp3',this)" class="audioBtn" id="1"></a></td>
                                            <td class="center">
                                                <button class="openLink">></button>
                                            </td>
                                        </tr>

                                        <tr v-for="complaint in complaints.filtered" v-show="isFilterApplied && complaints.filtered.length > 0">
                                            <td>{{ complaint.id }}</td>
                                            <td>{{ 'в ' +  new Date(complaint.created_at).getHours() + ':' + new Date(complaint.created_at).getMinutes() }}</td>
                                            <td>Марина</td>
                                            <td>{{ complaint.phone }}</td>
                                            <td>Репина, 10</td>
                                            <td>Ухтомского, 12</td>
                                            <td>0,00 руб.</td>
                                            <td>000</td>
                                            <td>Автомобиль</td>
                                            <td><a onclick="playVoce('1','/assets/img/ntn.mp3',this)" class="audioBtn" id="1"></a></td>
                                            <td class="center">
                                                <button class="openLink">></button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td>
                                                <h2 v-show="isFilterApplied && complaints.filtered.length === 0">Нет результатов поиска!</h2>
                                            </td>
                                        </tr>

                                        <tr class="accordion-item">
                                            <td colspan="11">
                                                <div class="flex4">
                                                    <p class="text"><span class="smallText block">Жалоба</span>Водитель с похмелья, Очень большая стоимость поездки </p>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </tab-component>

                    </tabs-component>

                </div>

                <div class="col-v3">
                    <form action="#" class="searchOp">
                        <input class="input phone" placeholder="Номер телефона" type="text"
                               v-model="filters.phone" @keyup="updateFilterByPhone">
                        <input class="btn min" type="button" value="Найти" @click="applyFilterByPhone">
                    </form>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import {UNAUTHORIZED_STATUS_CODE} from "../../helpers/code_statuses";
    import Tabs_component from "../Tabs";
    import Tab_component from "../Tab";
    import {DateDiff} from "../../helpers/services";

    export default {
        name: "ComplaintsPage",
        data() {
            return {
                complaints: {
                    on_reviewed: [],
                    reviewed: [],
                    cancelled: [],
                    filtered: []
                },
                filters: {
                    phone: '',
                    period: {
                        date_from: '',
                        date_to: ''
                    }
                },
                activeTab: 'on_reviewed'
            }
        },
        methods: {
            fetchData() {

                this.$store.commit('setLoading', {flag: true});

                if(this.$store.getters.currentUser) {
                    axios.get('api/complaints', {
                        headers: {
                            "Authorization": `Bearer ${this.$store.getters.currentUser.token}`
                        }
                    })
                        .then(response => {
                            this.$store.commit('setLoading', {flag: false});

                            response.data.complaints.forEach(item => {

                                this.complaints.on_reviewed.push(item);

                                if(item.is_reviewed) {
                                    this.complaints.reviewed.push(item);
                                }
                                else if(item.is_cancelled) {
                                    this.complaints.cancelled.push(item);
                                }
                            });

                            this.assignFieldAsDateObject('created_at');
                        })
                        .catch(error => {
                            this.$store.commit('setLoading', {flag: false});
                            if(error.response) {
                                if(error.response.status === UNAUTHORIZED_STATUS_CODE) {
                                    this.$store.commit('logout');
                                    this.$store.commit('changeActiveLoginModal', {flag: true});
                                }
                            }
                        })
                } else {
                    // Stop preload and show login modal
                    this.$store.commit('setLoading', {flag: false});
                    this.$store.commit('logout');
                    this.$store.commit('changeActiveLoginModal', {flag: true});
                }

            },
            assignFieldAsDateObject(field = 'created_at') {
                for(let i in this.complaints.on_reviewed) {
                    this.complaints.on_reviewed[i][field] = new Date(this.complaints.on_reviewed[i][field])
                }
                for(let i in this.complaints.reviewed) {
                    this.complaints.reviewed[i][field] = new Date(this.complaints.reviewed[i][field])
                }
                for(let i in this.complaints.cancelled) {
                    this.complaints.cancelled[i][field] = new Date(this.complaints.cancelled[i][field])
                }
            },
            filterByPhone() {
                if(this.filters.phone.length > 0) {

                    this.complaints.filtered = this.complaints[this.activeTab].filter(item => {
                        return item.phone.includes(this.filters.phone);
                    });
                }
                else {
                    this.complaints.filtered = [];
                }
            },
            setActiveTab(data) {
                this.activeTab = data.tab_alias; // Запоминаем на какой мы сейчас вкладке
                this.complaints.filtered = []; // После переключения таба очищаем результаты предыдущего фильтра
                this.$store.commit('setFilterApplied', {flag: false}); // После переключения таба делаем фильтры неактиными
            },
            applyFilter() {
                this.$store.commit('setFilterApplied', {flag: true});
                const now = new Date();

                if(this.isActiveFilterPerHour) {
                    this.complaints.filtered = this.complaints[this.activeTab].filter(complaint => {
                        return DateDiff.inHours(now, complaint.created_at) < 1;
                    });
                }

                if(this.isActiveFilterPerToday) {
                    this.complaints.filtered = this.complaints[this.activeTab].filter(complaint => {
                        return DateDiff.inDays(now, complaint.created_at) <= 1;
                    });
                }

                if(this.isActiveFilterPerWeek) {
                    this.complaints.filtered = this.complaints[this.activeTab].filter(complaint => {
                        return DateDiff.inWeeks(now, complaint.created_at) < 1;
                    });
                }

                if(this.isActiveFilterPeriod) {

                    const date_from_text = this.getFilterPeriodSettings.date_from;
                    const date_to_text = this.getFilterPeriodSettings.date_to;

                    const date_from = Date.parse(date_from_text);
                    const date_to = Date.parse(date_to_text);


                    this.complaints.filtered = this.complaints[this.activeTab].filter(complaint => {
                        console.log('From', date_from, 'Middle',complaint.created_at.getTime(), 'To', date_to)
                        return date_from <= complaint.created_at.getTime() && date_to >= complaint.created_at.getTime();
                    });
                }

            },
            applyFilterByPhone() {
                this.$store.commit('setFilterApplied', {flag: true});

                this.complaints.filtered = this.complaints[this.activeTab].filter(complaint => {
                    return complaint.phone.includes(this.$store.getters.getFilterByPhone);
                });
            },
            updateFilterByPhone() {
                this.$store.commit("updateFilterByPhone", {phone: this.filters.phone});
            },
            showDetailsByComplaint(event) {
                event.target.parentElement.parentElement.classList.toggle('open');
            }
        },
        computed: {
            loading() {
                return this.$store.state.loading;
            },
            getCountOnReviewedComplaints() {
                return this.isFilterApplied && this.activeTab === "on_reviewed" ? this.complaints.filtered.length : this.complaints.on_reviewed.length;
            },
            getCountReviewedComplaints() {
                return this.isFilterApplied && this.activeTab === "reviewed" ? this.complaints.filtered.length : this.complaints.reviewed.length;
            },
            getCountCancelledComplaints() {
                return this.isFilterApplied && this.activeTab === "cancelled" ? this.complaints.filtered.length : this.complaints.cancelled.length;
            },

            isFilterApplied() {
                return this.$store.getters.isFilterApplied;
            },
            isActiveFilterPerHour() {
                return this.$store.getters.isActiveFilterPerHour;
            },
            isActiveFilterPerToday() {
                return this.$store.getters.isActiveFilterPerToday;
            },
            isActiveFilterPerWeek() {
                return this.$store.getters.isActiveFilterPerWeek;
            },
            isActiveFilterPeriod() {
                return this.$store.getters.isActiveFilterPeriod;
            },
            getFilterPeriodSettings() {
                return this.$store.getters.getFilterPeriodSettings;
            }
        },
        created() {
            this.fetchData();
        },
        mounted() {
            $(document).ready(function () {
                $('.openLink').click(function () {
                    console.log(1);
                    $(this).parents('tr').toggleClass('open');
                });
            });


        },
        components: {
            'tabs-component': Tabs_component,
            'tab-component': Tab_component,
        }
    }
</script>

<style scoped>

</style>