<template>
    <div>
        <div v-show="loading" class="loader-container"><div class="loader"></div></div>

        <div class="contentLb" v-show="!loading">
            <div class="row-wrap">
                <div class="col-v7">

                    <tabs-component @setactivetab="setActiveTab" @applyfilter="applyFilter">

                        <tab-component :name="'Онлайн(' + getCountOnlineDrivers + ')'" :selected="true" alias="online">

                            <div class="table-wrap">
                                <div id="scroll_mouse" class="scroll">
                                    <table class="table t9">
                                        <thead>
                                        <tr>
                                            <th>Фото</th>
                                            <th>ФИО</th>
                                            <th>Тариф</th>
                                            <th>Автомобиль</th>
                                            <th>Позывной</th>
                                            <th>Дата приема</th>
                                            <th>Жалобы</th>
                                            <th>Рейтинг</th>
                                            <th>Подробнее</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="driver in drivers.online" v-show="!isFilterApplied">
                                            <td>
                                                <a href="#" class="avatar min">
                                                    <img :src="driver.avatar !== null ? driver.avatar : '/img/man.svg'" alt="">
                                                </a>
                                            </td>
                                            <td>{{ driver.full_name }}</td>
                                            <td>Пикап - 700 руб.</td>
                                            <td>ВАЗ 1012, 456</td>
                                            <td>Сиплый</td>
                                            <td>15.02.2019</td>
                                            <td>{{ driver.complaints_count }}</td>
                                            <td>4,5</td>
                                            <td><a href="#" class="detailLink" @click="showCardDriverModal(driver)">></a></td>
                                        </tr>

                                        <tr v-for="driver in drivers.filtered" v-show="isFilterApplied && drivers.filtered.length > 0">
                                            <td>
                                                <a href="#" class="avatar min">
                                                    <img src="/img/man.svg" alt="">
                                                </a>
                                            </td>
                                            <td>{{ driver.full_name }}</td>
                                            <td>Пикап - 700 руб.</td>
                                            <td>ВАЗ 1012, 456</td>
                                            <td>Сиплый</td>
                                            <td>15.02.2019</td>
                                            <td>{{ driver.complaints_count }}</td>
                                            <td>4,5</td>
                                            <td><a href="#" class="detailLink" @click="showCardDriverModal(driver)">></a></td>
                                        </tr>


                                        <tr>
                                            <td></td>
                                            <td>
                                                <h2 v-show="isFilterApplied && drivers.filtered.length === 0">Нет результатов поиска!</h2>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </tab-component>

                        <tab-component :name="'Оффлайн(' + getCountOfflineDrivers + ')'" alias="offline">
                            <div class="table-wrap">
                                <div class="scroll">
                                    <table class="table t14">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Время</th>
                                            <th>Диспетчер</th>
                                            <th class="thPhone">Телефон</th>
                                            <th>Заказы</th>
                                            <th>Таймер</th>
                                            <th>Откуда</th>
                                            <th>Куда</th>
                                            <th>Статус</th>
                                            <th>Стоимость</th>
                                            <th>Примечание</th>
                                            <th>Позывной</th>
                                            <th>Исполнитель</th>
                                            <th>Запись</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr v-for="driver in drivers.offline" v-show="!isFilterApplied">
                                            <td>
                                                <a href="#" class="avatar min">
                                                    <img src="/img/man.svg" alt="">
                                                </a>
                                            </td>
                                            <td>{{ driver.full_name }}</td>
                                            <td>Пикап - 700 руб.</td>
                                            <td>ВАЗ 1012, 456</td>
                                            <td>Сиплый</td>
                                            <td>15.02.2019</td>
                                            <td>{{ driver.complaints_count }}</td>
                                            <td>4,5</td>
                                            <td><a href="#" class="detailLink">></a></td>
                                        </tr>

                                        <tr v-for="driver in drivers.filtered" v-show="isFilterApplied && drivers.filtered.length > 0">
                                            <td>
                                                <a href="#" class="avatar min">
                                                    <img src="/img/man.svg" alt="">
                                                </a>
                                            </td>
                                            <td>{{ driver.full_name }}</td>
                                            <td>Пикап - 700 руб.</td>
                                            <td>ВАЗ 1012, 456</td>
                                            <td>Сиплый</td>
                                            <td>15.02.2019</td>
                                            <td>{{ driver.complaints_count }}</td>
                                            <td>4,5</td>
                                            <td><a href="#" class="detailLink">></a></td>
                                            <td><a onclick="playVoce('1','/assets/img/ntn.mp3',this)" class="audioBtn"></a></td>
                                        </tr>


                                        <tr>
                                            <td></td>
                                            <td>
                                                <h2 v-show="isFilterApplied && drivers.filtered.length === 0">Нет результатов поиска!</h2>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </tab-component>

                    </tabs-component>

                </div>
                <div class="col-v3">
                    <form action="#" class="searchOp">
                        <input class="input phone" placeholder="Номер телефона" type="text"
                               v-model="filters.phone" @keyup="updateFilterByPhone">
                        <input class="btn min" type="button" value="Найти" @click="applyFilterByPhone">
                    </form>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import {UNAUTHORIZED_STATUS_CODE} from "../../helpers/code_statuses";
    import Tabs_component from "../Tabs";
    import Tab_component from "../Tab";
    import {DateDiff} from "../../helpers/services";

    export default {
        name: "DriversPage",
        data() {
            return {
                drivers: {
                    online: [],
                    offline: [],
                    filtered: []
                },
                filters: {
                    phone: ''
                },
                activeTab: 'online'
            }
        },
        methods: {
            fetchData() {
                // Run preload
                this.$store.commit('setLoading', {flag: true});

                // Check user
                if(this.$store.getters.currentUser) {
                    axios.get('api/drivers', {
                        headers: {
                            "Authorization": `Bearer ${this.$store.getters.currentUser.token}`
                        }
                    })
                        .then(response => {
                            // Stop preload and save given data from server
                            this.$store.commit('setLoading', {flag: false});
                            this.drivers.online = response.data.drivers;
                            this.assignFieldAsDateObject('created_at');
                        })
                        .catch(error => {
                            // Stop preload
                            this.$store.commit('setLoading', {flag: false});
                            if(error.response) {
                                // If unauthorized, we show login modal
                                if(error.response.status === UNAUTHORIZED_STATUS_CODE) {
                                    this.$store.commit('logout');
                                    this.$store.commit('changeActiveLoginModal', {flag: true});
                                }
                            }
                        })
                } else {
                    // Stop preload and show login modal
                    this.$store.commit('setLoading', {flag: false});
                    this.$store.commit('logout');
                    this.$store.commit('changeActiveLoginModal', {flag: true});
                }

            },
            assignFieldAsDateObject(field = 'created_at') {
                for(let i in this.drivers.online) {
                    this.drivers.online[i][field] = new Date(this.drivers.online[i][field])
                }
                for(let i in this.drivers.offline) {
                    this.drivers.offline[i][field] = new Date(this.drivers.offline[i][field])
                }
            },
            showCardDriverModal(driverObject) {
                this.$store.commit('changeActiveCardDriverModal', {flag: true});
                this.$store.commit('changeDataForCardDriverModal', {
                    'full_name': driverObject.full_name,
                    'additional_info': driverObject.additional_info,
                    'auto_type': driverObject.active_car !== null ? driverObject.active_car.type : 'нет активной машины',
                    'color': "Желтый",
                    'auto_mark': driverObject.active_car !== null ? driverObject.active_car.model : 'нет активной машины',
                    'tariff': "Довезу куда угодно",
                    'plate_number': driverObject.active_car !== null ? driverObject.active_car.plate_number : "нет активной машины",
                    'rating': '4.5',
                    'created_at': driverObject.created_at,
                    'avatar_url': driverObject.avatar !== null ? driverObject.avatar : '/img/man.svg',
                    'success_orders_count': driverObject.success_orders_count
                });
            },
            filterByPhone() {
                if(this.filters.phone.length > 0) {

                    this.drivers.filtered = this.drivers[this.activeTab].filter(item => {
                        return item.phone.includes(this.filters.phone);
                    });
                }
                else {
                    this.drivers.filtered = [];
                }
            },

            setActiveTab(data) {
                this.activeTab = data.tab_alias; // Запоминаем на какой мы сейчас вкладке
                this.drivers.filtered = []; // После переключения таба очищаем результаты предыдущего фильтра
                this.$store.commit('setFilterApplied', {flag: false}); // После переключения таба делаем фильтры неактиными
            },

            applyFilter() {
                this.$store.commit('setFilterApplied', {flag: true});
                const now = new Date();

                if(this.isActiveFilterPerHour) {
                    this.drivers.filtered = this.drivers[this.activeTab].filter(driver => {
                        return DateDiff.inHours(now, driver.created_at) <= 1;
                    });
                }

                if(this.isActiveFilterPerToday) {
                    this.drivers.filtered = this.drivers[this.activeTab].filter(driver => {
                        return DateDiff.inDays(now, driver.created_at) <= 1;
                    });
                }

                if(this.isActiveFilterPerWeek) {
                    this.drivers.filtered = this.drivers[this.activeTab].filter(driver => {
                        return DateDiff.inWeeks(now, driver.created_at) < 1;
                    });
                }

                if(this.isActiveFilterPeriod) {

                    const date_from_text = this.getFilterPeriodSettings.date_from;
                    const date_to_text = this.getFilterPeriodSettings.date_to;

                    const date_from = Date.parse(date_from_text);
                    const date_to = Date.parse(date_to_text);


                    this.drivers.filtered = this.drivers[this.activeTab].filter(driver => {
                        return date_from <= driver.created_at.getTime() && date_to >= driver.created_at.getTime();
                    });
                }
            },
            applyFilterByPhone() {
                this.$store.commit('setFilterApplied', {flag: true});

                this.drivers.filtered = this.drivers[this.activeTab].filter(driver => {
                    return driver.phone.includes(this.$store.getters.getFilterByPhone);
                });
            },
            updateFilterByPhone() {
                this.$store.commit("updateFilterByPhone", {phone: this.filters.phone});
            }
        },
        computed: {
            loading() {
                return this.$store.state.loading;
            },
            getCountOnlineDrivers() {
                return this.isFilterApplied && this.activeTab === "online" ? this.drivers.filtered.length : this.drivers.online.length;
            },
            getCountOfflineDrivers() {
                return this.isFilterApplied && this.activeTab === "offline" ? this.drivers.filtered.length : this.drivers.offline.length;
            },
            isFilterApplied() {
                return this.$store.getters.isFilterApplied;
            },
            isActiveFilterPerHour() {
                return this.$store.getters.isActiveFilterPerHour;
            },
            isActiveFilterPerToday() {
                return this.$store.getters.isActiveFilterPerToday;
            },
            isActiveFilterPerWeek() {
                return this.$store.getters.isActiveFilterPerWeek;
            },
            isActiveFilterPeriod() {
                return this.$store.getters.isActiveFilterPeriod;
            },
            getFilterPeriodSettings() {
                return this.$store.getters.getFilterPeriodSettings;
            }
        },
        created() {
            this.fetchData();
        },
        components: {
            'tabs-component': Tabs_component,
            'tab-component': Tab_component,
        }
    }
</script>

<style scoped>

</style>