<template>
    <div>
        <div class="contentLb">
            <div class="mapPanel">
                <h3>Все водители - 5</h3>
                <div class="statusInfo">
                    <div class="statusInfo-item">
                        <div class="roundSi yellow"></div>
                        <p class="text">На заказе - 1</p>
                    </div>
                    <div class="statusInfo-item">
                        <div class="roundSi black"></div>
                        <p class="text">Ожидают заказ - 2</p>
                    </div>
                    <div class="statusInfo-item">
                        <div class="roundSi"></div>
                        <p class="text">Свободны - 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MapPage"
    }
</script>

<style scoped>

</style>