<template>
    <div>
        <div v-show="loading" class="loader-container"><div class="loader"></div></div>

        <div class="contentLb" v-show="!loading">
            <div class="row-wrap">
                <div class="col-v7">

                    <tabs-component @setactivetab="setActiveTab" @applyfilter="applyFilter">

                        <tab-component :name="'Текущие (' + getCountCurrentOrders + ')'" :selected="true" alias="current">
                            <div class="table-wrap">
                                <div id="scroll_mouse" class="scroll">
                                    <table class="table t14">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Время</th>
                                            <th>Диспетчер</th>
                                            <th class="thPhone">Телефон</th>
                                            <th>Таймер</th>
                                            <th>Стоимость</th>
                                            <th>Позывной</th>
                                            <th>Авто</th>
                                            <th>Откуда</th>
                                            <th>Куда</th>
                                            <th>Статус</th>
                                            <th>Примечание</th>
                                            <th>Запись</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr v-for="order in orders.current" v-show="!isFilterApplied">
                                            <td>1</td>
                                            <td>{{ new Date(order.created_at).getHours() + ':' + new Date(order.created_at).getMinutes() }}</td>
                                            <td>{{ order.source.type_creator === 'operator' && order.source.operator != null ? order.source.operator.full_name : order.source.type_creator }}</td>
                                            <td class="thPhone">{{ order.phone }}</td>
                                            <td>{{ order.time }}</td>
                                            <td>{{ order.price.preliminary }} руб.</td>
                                            <td>000</td>
                                            <td>mark</td>
                                            <td>{{ order.place_from.address }}</td>
                                            <td>{{ order.place_to.address }}</td>
                                            <td>Сообщили время</td>
                                            <td>123</td>
                                            <td><a onclick="playVoce('1','/assets/img/ntn.mp3',this)" class="audioBtn" id="1"></a></td>
                                        </tr>

                                        <tr v-for="order in orders.filtered" v-show="isFilterApplied && orders.filtered.length > 0">
                                            <td>1</td>
                                            <td>{{ new Date(order.created_at).getHours() + ':' + new Date(order.created_at).getMinutes() }}</td>
                                            <td>{{ order.source.type_creator === 'operator' && order.source.operator != null ? order.source.operator.full_name : order.source.type_creator }}</td>
                                            <td class="thPhone">{{ order.phone }}</td>
                                            <td>{{ order.time }}</td>
                                            <td>{{ order.price.preliminary }} руб.</td>
                                            <td>000</td>
                                            <td>mark</td>
                                            <td>{{ order.place_from.address }}</td>
                                            <td>{{ order.place_to.address }}</td>
                                            <td>Сообщили время</td>
                                            <td>123</td>
                                            <td><a onclick="playVoce('1','/assets/img/ntn.mp3',this)" class="audioBtn" id="1"></a></td>
                                        </tr>


                                        <tr>
                                            <td></td>
                                            <td>
                                            <h2 v-show="isFilterApplied && orders.filtered.length === 0">Нет результатов поиска!</h2>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </tab-component>

                        <tab-component :name="'Выполненные (' + getCountCompletedOrders + ')'" alias="completed">
                            <div class="table-wrap">
                                <div class="scroll">
                                    <table class="table t14">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Время</th>
                                            <th>Диспетчер</th>
                                            <th class="thPhone">Телефон</th>
                                            <th>Таймер</th>
                                            <th>Стоимость</th>
                                            <th>Позывной</th>
                                            <th>Авто</th>
                                            <th>Откуда</th>
                                            <th>Куда</th>
                                            <th>Статус</th>
                                            <th>Примечание</th>
                                            <th>Запись</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="order in orders.completed" v-show="!isFilterApplied">
                                            <td>1</td>
                                            <td>{{ new Date(order.created_at).getHours() + ':' + new Date(order.created_at).getMinutes() }}</td>
                                            <td>{{ order.source.type_creator === 'operator' && order.source.operator != null ? order.source.operator.full_name : order.source.type_creator }}</td>
                                            <td class="thPhone">{{ order.phone }}</td>
                                            <td>{{ order.time }}</td>
                                            <td>{{ order.price.preliminary }} руб.</td>
                                            <td>000</td>
                                            <td>mark</td>
                                            <td>{{ order.place_from.address }}</td>
                                            <td>{{ order.place_to.address }}</td>
                                            <td>Сообщили время</td>
                                            <td>123</td>
                                            <td><a onclick="playVoce('1','/assets/img/ntn.mp3',this)" class="audioBtn" id="1"></a></td>
                                        </tr>

                                        <tr v-for="order in orders.filtered" v-show="isFilterApplied && orders.filtered.length > 0">
                                            <td>1</td>
                                            <td>{{ new Date(order.created_at).getHours() + ':' + new Date(order.created_at).getMinutes() }}</td>
                                            <td>{{ order.source.type_creator === 'operator' && order.source.operator != null ? order.source.operator.full_name : order.source.type_creator }}</td>
                                            <td class="thPhone">{{ order.phone }}</td>
                                            <td>{{ order.time }}</td>
                                            <td>{{ order.price.preliminary }} руб.</td>
                                            <td>000</td>
                                            <td>mark</td>
                                            <td>{{ order.place_from.address }}</td>
                                            <td>{{ order.place_to.address }}</td>
                                            <td>Сообщили время</td>
                                            <td>123</td>
                                            <td><a onclick="playVoce('1','/assets/img/ntn.mp3',this)" class="audioBtn" id="1"></a></td>
                                        </tr>


                                        <tr>
                                            <td></td>
                                            <td>
                                                <h2 v-show="isFilterApplied && orders.filtered.length === 0">Нет результатов поиска!</h2>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </tab-component>

                        <tab-component :name="'Отмененные (' + getCountCancelledOrders + ')'" alias="cancelled">
                            <div class="table-wrap">
                                <div class="scroll">
                                    <table class="table t14">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Время</th>
                                            <th>Диспетчер</th>
                                            <th class="thPhone">Телефон</th>
                                            <th>Таймер</th>
                                            <th>Стоимость</th>
                                            <th>Позывной</th>
                                            <th>Авто</th>
                                            <th>Откуда</th>
                                            <th>Куда</th>
                                            <th>Статус</th>
                                            <th>Примечание</th>
                                            <th>Запись</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="order in orders.cancelled" v-show="!isFilterApplied">
                                            <td>1</td>
                                            <td>{{ new Date(order.created_at).getHours() + ':' + new Date(order.created_at).getMinutes() }}</td>
                                            <td>{{ order.source.type_creator === 'operator' && order.source.operator != null ? order.source.operator.full_name : order.source.type_creator }}</td>
                                            <td class="thPhone">{{ order.phone }}</td>
                                            <td>{{ order.time }}</td>
                                            <td>{{ order.price.preliminary }} руб.</td>
                                            <td>000</td>
                                            <td>mark</td>
                                            <td>{{ order.place_from.address }}</td>
                                            <td>{{ order.place_to.address }}</td>
                                            <td>Сообщили время</td>
                                            <td>123</td>
                                            <td><a onclick="playVoce('1','/assets/img/ntn.mp3',this)" class="audioBtn" id="1"></a></td>
                                        </tr>

                                        <tr v-for="order in orders.filtered" v-show="isFilterApplied && orders.filtered.length > 0">
                                            <td>1</td>
                                            <td>{{ new Date(order.created_at).getHours() + ':' + new Date(order.created_at).getMinutes() }}</td>
                                            <td>{{ order.source.type_creator === 'operator' && order.source.operator != null ? order.source.operator.full_name : order.source.type_creator }}</td>
                                            <td class="thPhone">{{ order.phone }}</td>
                                            <td>{{ order.time }}</td>
                                            <td>{{ order.price.preliminary }} руб.</td>
                                            <td>000</td>
                                            <td>mark</td>
                                            <td>{{ order.place_from.address }}</td>
                                            <td>{{ order.place_to.address }}</td>
                                            <td>Сообщили время</td>
                                            <td>123</td>
                                            <td><a onclick="playVoce('1','/assets/img/ntn.mp3',this)" class="audioBtn" id="1"></a></td>
                                        </tr>


                                        <tr>
                                            <td></td>
                                            <td>
                                                <h2 v-show="isFilterApplied && orders.filtered.length === 0">Нет результатов поиска!</h2>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </tab-component>

                    </tabs-component>

                </div>

                <div class="col-v3">

                    <form action="#" class="searchOp">
                        <input class="input phone" placeholder="Номер телефона" type="text"
                               v-model="filters.phone" @keyup="updateFilterByPhone">
                        <input class="btn min" type="button" value="Найти" @click="applyFilterByPhone">
                    </form>

                </div>

            </div>

        </div>
    </div>
</template>

<script>
    import {UNAUTHORIZED_STATUS_CODE} from "../../helpers/code_statuses";
    import Tabs_component from "../Tabs";
    import Tab_component from "../Tab";
    import {DateDiff} from "../../helpers/services";

    export default {
        name: "OrdersPage",
        data() {
            return {
                orders: {
                    current: [],
                    completed: [],
                    cancelled: [],
                    filtered: []
                },
                filters: {
                    phone: '',
                    period: {
                        date_from: '',
                        date_to: ''
                    }
                },
                activeTab: 'current'
            }
        },
        methods: {
            fetchData() {

                let context = this;

                Event.listen('getAllOrders', function (response) {
                    console.log(response.data.orders[0]);
                    response.data.orders.forEach(order => {
                        context.orders.current.push(order);
                    });
                });

                this.$store.commit('setLoading', {flag: true});

                if(this.currentUser) {
                    this.$store.commit('setLoading', {flag: false});
                } else {
                    // Stop preload and show login modal
                    this.$store.commit('setLoading', {flag: false});
                    this.$store.commit('logout');
                    this.$store.commit('changeActiveLoginModal', {flag: true});
                }

            },
            assignFieldAsDateObject(field = 'created_at') {
                for(let i in this.orders.current) {
                    this.orders.current[i][field] = new Date(this.orders.current[i][field])
                }
                for(let i in this.orders.completed) {
                    this.orders.completed[i][field] = new Date(this.orders.completed[i][field])
                }
                for(let i in this.orders.cancelled) {
                    this.orders.cancelled[i][field] = new Date(this.orders.cancelled[i][field])
                }
            },
            filterByPhone() {
                if(this.filters.phone.length > 0) {

                    this.orders.filtered = this.orders[this.activeTab].filter(item => {
                        return item.phone.includes(this.filters.phone);
                    });
                }
                else {
                    this.orders.filtered = [];
                }
            },
            setActiveTab(data) {
                this.activeTab = data.tab_alias; // Запоминаем на какой мы сейчас вкладке
                this.orders.filtered = []; // После переключения таба очищаем результаты предыдущего фильтра
                this.$store.commit('setFilterApplied', {flag: false}); // После переключения таба делаем фильтры неактиными
            },
            applyFilter() {
                this.$store.commit('setFilterApplied', {flag: true});
                const now = new Date();

                if(this.isActiveFilterPerHour) {
                    this.orders.filtered = this.orders[this.activeTab].filter(order => {
                        return DateDiff.inHours(now, order.created_at) < 1;
                    });
                }

                if(this.isActiveFilterPerToday) {
                    this.orders.filtered = this.orders[this.activeTab].filter(order => {
                        return DateDiff.inDays(now, order.created_at) <= 1;
                    });
                }

                if(this.isActiveFilterPerWeek) {
                    this.orders.filtered = this.orders[this.activeTab].filter(order => {
                        return DateDiff.inWeeks(now, order.created_at) < 1;
                    });
                }

                if(this.isActiveFilterPeriod) {

                    const date_from_text = this.getFilterPeriodSettings.date_from;
                    const date_to_text = this.getFilterPeriodSettings.date_to;

                    const date_from = Date.parse(date_from_text);
                    const date_to = Date.parse(date_to_text);


                    this.orders.filtered = this.orders[this.activeTab].filter(order => {
                        console.log('From', date_from, 'Middle',order.created_at.getTime(), 'To', date_to)
                        return date_from <= order.created_at.getTime() && date_to >= order.created_at.getTime();
                    });
                }

            },
            applyFilterByPhone() {
                this.$store.commit('setFilterApplied', {flag: true});

                this.orders.filtered = this.orders[this.activeTab].filter(order => {
                    return order.phone.indexOf(this.$store.getters.getFilterByPhone) > -1;
                });
            },
            updateFilterByPhone() {
                this.$store.commit("updateFilterByPhone", {phone: this.filters.phone});
            }
        },
        computed: {
            loading() {
                return this.$store.state.loading;
            },
            currentUser() {
                return this.$store.getters.currentUser;
            },
            getCountCurrentOrders() {
                return this.isFilterApplied && this.activeTab === "current" ? this.orders.filtered.length : this.orders.current.length;
            },
            getCountCompletedOrders() {
                return this.isFilterApplied && this.activeTab === "completed" ? this.orders.filtered.length : this.orders.completed.length;
            },
            getCountCancelledOrders() {
                return this.isFilterApplied && this.activeTab === "cancelled" ? this.orders.filtered.length : this.orders.cancelled.length;
            },

            isFilterApplied() {
                return this.$store.getters.isFilterApplied;
            },
            isActiveFilterPerHour() {
                return this.$store.getters.isActiveFilterPerHour;
            },
            isActiveFilterPerToday() {
                return this.$store.getters.isActiveFilterPerToday;
            },
            isActiveFilterPerWeek() {
                return this.$store.getters.isActiveFilterPerWeek;
            },
            isActiveFilterPeriod() {
                return this.$store.getters.isActiveFilterPeriod;
            },
            getFilterPeriodSettings() {
                return this.$store.getters.getFilterPeriodSettings;
            }
        },
        created() {
            Event.listen('socket-connection-success', function () {
                window.ws.send(JSON.stringify({
                    method: 'getAllOrders'
                }));
            });

            this.fetchData();
        },
        components: {
            'tabs-component': Tabs_component,
            'tab-component': Tab_component,
        }
    }
</script>

<style scoped>

</style>