<template>
    <div>
        <div class="contentLb">
            <div class="row-wrap">
                <div class="col-v7">
                    <div class="tabBox">
                        <div class="tabMenu">
                            <div class="flex2">
                                <div class="tabMenu-wrap">
                                    <a class="linkTab active">Новые</a>
                                    <a class="linkTab">Допущен</a>
                                    <a class="linkTab">Отклонен</a>
                                </div>
                            </div>
                        </div>
                        <div class="tabContent">
                            <div class="itemTab active">
                                <div class="table-wrap">
                                    <div id="scroll_mouse" class="scroll">
                                        <table class="table t8 accordion">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Дата</th>
                                                <th>Водитель</th>
                                                <th>Вид автомобиля</th>
                                                <th>Автомобиль</th>
                                                <th>Позывной</th>
                                                <th>Развернуть</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>45675</td>
                                                <td>15.02.2019 в 15:02</td>
                                                <td>Петров Сергей Иванович</td>
                                                <td class="center">Пикап</td>
                                                <td>ВАЗ 1012, 456</td>
                                                <td class="center">01</td>
                                                <td class="center">
                                                    <button class="openLink">></button>
                                                </td>
                                            </tr>
                                            <tr class="accordion-item">
                                                <td colspan="8">
                                                    <div class="flex4">
                                                        <div class="photoAuto-wrap">
                                                            <div class="photoAuto">
                                                                <a data-fancybox="gallery" href="/img/test2.jpg" rel="group1"><img src="/img/auto.jpg"
                                                                                                                                          alt=""></a>
                                                                <p>перед</p></div>
                                                            <div class="photoAuto">
                                                                <a data-fancybox="gallery" href="/img/test1.jpg" rel="group1"><img src="/img/ava.svg"
                                                                                                                                          alt=""></a>
                                                                <p>право</p>
                                                            </div>
                                                            <div class="photoAuto"><p>лево</p></div>
                                                            <div class="photoAuto"><p>спина</p></div>
                                                            <div class="photoAuto"><p>номер</p></div>
                                                            <div class="photoAuto"><p>лицо</p></div>
                                                        </div>
                                                        <p class="accordion-r text"><span class="smallText block">Комментарий</span>Фотографии не соответствуют
                                                            действительности</p>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>45675</td>
                                                <td>15.02.2019 в 15:02</td>
                                                <td>Петров Сергей Иванович</td>
                                                <td class="center">Пикап</td>
                                                <td>ВАЗ 1012, 456</td>
                                                <td class="center">01</td>
                                                <td class="center">
                                                    <button class="openLink">></button>
                                                </td>
                                            </tr>
                                            <tr class="accordion-item">
                                                <td colspan="8">
                                                    <div class="flex4">
                                                        <div class="photoAuto-wrap">
                                                            <div class="photoAuto"><img src="/img/auto.jpg" alt="">
                                                                <p>перед</p></div>
                                                            <div class="photoAuto"><p>право</p></div>
                                                            <div class="photoAuto"><p>лево</p></div>
                                                            <div class="photoAuto"><p>спина</p></div>
                                                            <div class="photoAuto"><p>номер</p></div>
                                                            <div class="photoAuto"><p>лицо</p></div>
                                                        </div>
                                                        <p class="accordion-r text"><span class="smallText block">Комментарий</span>Фотографии не соответствуют
                                                            действительности</p>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>45675</td>
                                                <td>15.02.2019 в 15:02</td>
                                                <td>Петров Сергей Иванович</td>
                                                <td class="center">Пикап</td>
                                                <td>ВАЗ 1012, 456</td>
                                                <td class="center">01</td>
                                                <td class="center">
                                                    <button class="openLink">></button>
                                                </td>
                                            </tr>
                                            <tr class="accordion-item">
                                                <td colspan="8">
                                                    <div class="flex4">
                                                        <div class="photoAuto-wrap">
                                                            <div class="photoAuto"><img src="/img/auto.jpg" alt="">
                                                                <p>перед</p></div>
                                                            <div class="photoAuto"><p>право</p></div>
                                                            <div class="photoAuto"><p>лево</p></div>
                                                            <div class="photoAuto"><p>спина</p></div>
                                                            <div class="photoAuto"><p>номер</p></div>
                                                            <div class="photoAuto"><p>лицо</p></div>
                                                        </div>
                                                        <p class="accordion-r text"><span class="smallText block">Комментарий</span>Фотографии не соответствуют
                                                            действительности</p>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>45675</td>
                                                <td>15.02.2019 в 15:02</td>
                                                <td>Петров Сергей Иванович</td>
                                                <td class="center">Пикап</td>
                                                <td>ВАЗ 1012, 456</td>
                                                <td class="center">01</td>
                                                <td class="center">
                                                    <button class="openLink">></button>
                                                </td>
                                            </tr>
                                            <tr class="accordion-item">
                                                <td colspan="8">
                                                    <div class="flex4">
                                                        <div class="photoAuto-wrap">
                                                            <div class="photoAuto"><img src="/img/auto.jpg" alt="">
                                                                <p>перед</p></div>
                                                            <div class="photoAuto"><p>право</p></div>
                                                            <div class="photoAuto"><p>лево</p></div>
                                                            <div class="photoAuto"><p>спина</p></div>
                                                            <div class="photoAuto"><p>номер</p></div>
                                                            <div class="photoAuto"><p>лицо</p></div>
                                                        </div>
                                                        <p class="accordion-r text"><span class="smallText block">Комментарий</span>Фотографии не соответствуют
                                                            действительности</p>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>45675</td>
                                                <td>15.02.2019 в 15:02</td>
                                                <td>Петров Сергей Иванович</td>
                                                <td class="center">Пикап</td>
                                                <td>ВАЗ 1012, 456</td>
                                                <td class="center">01</td>
                                                <td class="center">
                                                    <button class="openLink">></button>
                                                </td>
                                            </tr>
                                            <tr class="accordion-item">
                                                <td colspan="8">
                                                    <div class="flex4">
                                                        <div class="photoAuto-wrap">
                                                            <div class="photoAuto"><img src="/img/auto.jpg" alt="">
                                                                <p>перед</p></div>
                                                            <div class="photoAuto"><p>право</p></div>
                                                            <div class="photoAuto"><p>лево</p></div>
                                                            <div class="photoAuto"><p>спина</p></div>
                                                            <div class="photoAuto"><p>номер</p></div>
                                                            <div class="photoAuto"><p>лицо</p></div>
                                                        </div>
                                                        <p class="accordion-r text"><span class="smallText block">Комментарий</span>Фотографии не соответствуют
                                                            действительности</p>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="itemTab">2</div>
                        </div>
                    </div>
                </div>
                <div class="col-v3">
                    <form action="#" class="searchOp">
                        <input class="input phone" placeholder="Номер телефона" type="text">
                        <input class="btn min" type="submit" value="Найти">
                    </form>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "PhotoControlPage"
    }
</script>

<style scoped>

</style>