@font-face {
  font-family: 'OpenSans-Regular';
  src: url('fonts/OpenSans-Regular.eot');
  src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
  url('fonts/OpenSans-Regular.ttf') format('truetype'),
  url('fonts/OpenSans-Regular.woff') format('woff'),
  url('fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('fonts/OpenSans-SemiBold.eot');
  src: url('fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg'),
  url('fonts/OpenSans-SemiBold.ttf') format('truetype'),
  url('fonts/OpenSans-SemiBold.woff') format('woff'),
  url('fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('fonts/OpenSans-Bold.eot');
  src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
  url('fonts/OpenSans-Bold.ttf') format('truetype'),
  url('fonts/OpenSans-Bold.woff') format('woff'),
  url('fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('fonts/Montserrat-Bold.eot');
  src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
  url('fonts/Montserrat-Bold.ttf') format('truetype'),
  url('fonts/Montserrat-Bold.woff') format('woff'),
  url('fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('fonts/Montserrat-Black.eot');
  src: url('fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
  url('fonts/Montserrat-Black.svg#Montserrat-Black') format('svg'),
  url('fonts/Montserrat-Black.ttf') format('truetype'),
  url('fonts/Montserrat-Black.woff') format('woff'),
  url('fonts/Montserrat-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

$f1: 'OpenSans-Regular';
$f2: 'OpenSans-SemiBold';
$f3: 'OpenSans-Bold';
$f4: 'Montserrat-Bold';
$f5: 'Montserrat-Black';
$time: 0.5s;

$red: #EB5757;
$yellowe: #F3B63B;
$yellowe2: #F2C94C;

$black: #4A4A4A;
$black2: #4F4E5D;
$black3: #333333;

$border: #F2F2F2;

$grey: #F4F4F6;
$grey1: #F4F4F6;
$grey2: #C4C4C4;
$grey3: #95959e;



$shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);

@import './import-scss/reset';
@import './import-scss/grid';
@import './import-scss/button';
@import './import-scss/font';
@import './import-scss/element';
@import './import-scss/ic';
@import './import-scss/svg';
@import './import-scss/input';
@import './import-scss/radio';
@import './import-scss/select';
@import './import-scss/table';
@import './import-scss/popup';
/* +++ operator */
.lkPanel {
  width: 260px;
  background-color: $black2;
  min-height: 100vh;
}

.lkBox {
  width: calc(100% - 260px);
  .contentLb, .headerLb {
    > .row-wrap > {
      .col-v7 {
        width: calc(100% - 345px);
        padding-right: 30px;
      }
      .col-v3 {
        width: 345px;
      }
    }
  }

}

.contentLb {
  padding: 30px 90px 40px;
  &.chat{
    .panelOp{
      min-height: calc(100vh - 130px);
    }
  }
}

.headerLb {
  box-shadow: $shadow;
  padding: 15px 90px;
}

.menuHlb {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
  li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
  }
}

.userLink-wrap {
  display: inline-block;
  vertical-align: middle;
  .ic {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
}

.cityLink-wrap {
  display: inline-block;
  vertical-align: middle;
  .ic {
    width: 25px;
    height: 36px;
    margin-right: 15px;
  }
}

.logoBg {
  padding: 40px 20px;
  border-bottom: 1px solid $grey3;
  text-align: center;
  a:hover{
    opacity: 1;
  }
}

.menuLk {
  margin: 70px 0 0 70px;
  padding: 0;
  li {
    list-style-type: none;
    margin-bottom: 28px;
    padding-left: 15px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: $yellowe;
      opacity: 0;
    }
    &.active {
      &:before {
        opacity: 1;
      }
      a {
        font-family: $f3;
        line-height: 26px;
        &:hover {
          opacity: 1;
        }
      }
    }


    a {
      font-size: 14px;
      color: #fff;
      &:hover {
        opacity: 0.7;
      }

    }
  }
}

.settingBtn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  z-index: 2;
  position: relative;
  .fill-yellow {
    transition: $time;
  }
  &:hover {
    .fill-yellow {
      fill: $grey2;
    }
  }
  &.active {
    .fill-yellow {
      fill: $black2;
    }
  }
}

.itemTab {
  display: none;
  &.active {
    display: block;
  }
}

.tabMenu {
  background-color: #fff;
  display: block;
  padding: 15px 20px;
  box-shadow: $shadow;
  margin-bottom: 30px;
  position: relative;
}

.linkTab {
  font-size: 16px;
  font-family: $f2;
  color: $grey2;
  margin-right: 40px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
  &.active {
    color: $black;
    &:before {
      content: '';
      position: absolute;
      top: calc(100% + 15px);
      width: 100%;
      height: 4px;
      background-color: $yellowe;
    }
  }
}

.searchOp {
  margin-bottom: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $shadow;
  input {
    border: 0;
  }
  .btn {
    width: 110px;
  }
  .input {
    width: calc(100% - 110px);
  }
}
.photoAuto a:hover{
  opacity: 1;
}
.panelOp {
  box-shadow: $shadow;
  padding: 30px;
  display: block;
  box-sizing: border-box;
  min-height: calc(100vh - 244px);

  h3 {
    text-align: center;
    margin-bottom: 30px;
  }
  .photoAuto {
    margin-right: 30px;
    ~ .driversInfo {
      max-width: calc(100% - 90px);
      width: 100%;
    }

  }
  .item {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .text {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &.count {
      font-size: 16px;
      font-family: $f2;
    }
    &.name {
      color: $black3;
    }
    &.comments {
      font-size: 12px;
    }
  }
  .driversInfo {
    .data {
      font-size: 12px;
    }
    .text {
      margin-bottom: 5px;

    }
  }
  .blackLink.indent {
    margin: 0 15px;
  }
  .addComment {
    margin-bottom: 15px;
    margin-top: 20px;
    position: relative;
    a {
      font-size: 12px;
    }
  }
  .commentBox {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    width: 130px;
    left: 0;
    box-shadow: $shadow;
    text-align: center;
    z-index: 1;

    textarea {
      border: 0;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      text-align: center;
      height: 90px;
      padding: 10px;
      border-bottom: 1px solid $border;

    }
    .blackLink {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      padding: 0;
      margin: 10px 0 13px;
      cursor: pointer;
    }
  }
  .openComment.active ~ .commentBox {
    display: block;
  }
  .openComment {
    span:last-child {
      display: none;
    }
    &.active {
      span:first-child {
        display: none;
      }
      span:last-child {
        display: block;
      }
    }

  }

  .rightOp {
    width: calc(100% - 65px);
    position: relative;
    .data {
      position: absolute;
      right: 0;
      top: 0;
      color: $black2;
      font-size: 12px;
    }
    .name {
      color: $black2;
      font-size: 12px;
      margin-bottom: 5px;
    }
    .com {
      font-size: 14px;
    }
  }
}
/* + filterMenu */
.filterMenu {
  background-color: $yellowe;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  padding: 37px 55px 37px 55px;
  display: none;
  z-index: 1;
  &.active {
    display: block;
  }
  .input.indent {
    margin-left: 16px;
  }
  .blackLink.indent {
    margin-right: 40px;
  }
  .line {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .radioBtn, .checkedBtn {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
  .period-item {
    display: inline-block;
    vertical-align: middle;
    .input {
      display: inline-block;
      vertical-align: middle;
      width: 120px;
    }
    span {
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
    }

  }
  .periodBox {
    display: inline-block;
    vertical-align: middle;
  }
  .radioBtn-wrap {
    display: inline-block;
    vertical-align: middle;
    > .blackText {
      display: inline-block;
      margin-right: 20px;
    }
  }
  .grid1 {
    .col-v1 {
      width: 14%;
    }
    .col-v3 {
      width: 24%;
    }
  }
  @media screen and (max-width: 1700px) {
    padding: 60px 20px 37px 30px;
    .period-item .input {
      width: 100px;
    }
    .blackLink.indent {
      margin-right: 20px;

    }
    .blackLink, .blackText{
      font-size: 14px;
    }
    .checkedBtn label,
    .radioBtn label{
      font-size: 12px;
    }
  }
  @media screen and (max-width: 1300px) {
    .scroll{
      padding-bottom: 10px;

      &::-webkit-scrollbar-track {
        background-color: $border;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $black2;
        border: 0px solid $black2;
      }
    }
    .line{
      min-width: 797px;
    }
  }
}
/* - filterMenu */
@media screen and (max-width: 1920px) {
  .contentLb {
    padding: 30px 30px 28px;

    max-width: 1540px;
    margin-left: auto;
    margin-right: auto;

  }
  .headerLb {
    .row-wrap {
      max-width: 1480px;
      margin-left: auto;
      margin-right: auto;
    }
    padding: 15px 30px 15px;

  }

}

@media screen and (max-width: 1700px) {
  .menuHlb {
    padding-right: 5%;
  }
}

@media screen and (max-width: 1500px) {
  .cityLink-wrap{
    .ic{
      margin-right: 5px;
    }
  }
  .userLink-wrap .ic {
    margin-right: 5px;
  }
  .lkPanel {
    width: 200px;
  }
  .menuLk {
    margin: 70px 0 0 30px;
  }
  .lkBox {
    width: calc(100% - 200px);
    .contentLb, .headerLb {
      > .row-wrap > {
        .col-v7 {
          width: calc(100% - 270px);
          padding-right: 15px;
        }
        .col-v3 {
          width: 270px;
        }
      }
    }
  }

  .contentLb {
    padding: 15px;
  }
  .linkTab {
    font-size: 15px;
    margin-right: 20px;
  }
  .panelOp {
    padding: 20px;
  }
  .menuHlb {
    //padding-right: 0;
    li {
      padding-right: 15px;
    }
    a {
      font-size: 13px;
    }
  }
  .headerLb {
    padding: 15px;
  }
  .panelOp {
    .photoAuto ~ .driversInfo {
      width: calc(100% - 75px);
      max-width: 100%;
      display: inline-block;
    }
    .photoAuto {
      margin-right: 5px;
      display: inline-block;
    }
  }
}
/* + chatBox */
.chatBox {
  box-shadow: $shadow;
  padding: 20px 30px;
  min-height: 270px;
  height: calc(100vh - 330px);
  .scroll {
    height: 100%;
  }
  @media screen and (max-width: 1400px) {
    padding: 20px;
  }
}

.chatBox__data {
  //margin-bottom: 40px;
  text-align: center;
  font-size: 12px;
}

.chatBox__message {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
  .avatar {
    margin-right: 40px;
  }
  .text-wrap {
    width: calc(100% - 95px);
  }
  .time {
    margin-top: -5px;
    font-size: 12px;
    width: 100%;
    max-width: 375px;
  }
  .text {
    padding: 10px 110px 20px 15px;
    background-color: #fff;
    box-shadow: $shadow;
    max-width: 375px;
    font-size: 12px;
    position: relative;
    line-height: 2.2;
    margin-bottom: 20px;
    &:before {
      content: '';
      position: absolute;
      right: 100%;
      bottom: 0;

      width: 0;
      height: 0;
      border-bottom: 14px solid #fff;
      border-left: 14px solid transparent;

    }
  }

  &.outgoing {
    margin-top: 0px;
    .text-wrap {
      width: calc(100% - 70px);
    }
    .avatar {
      margin-right: auto;
      margin-left: 0px;
    }
    .text {
      margin-right: 0;
      margin-left: auto;
      &:before {
        right: auto;
        border-right: 14px solid transparent;
        border-left: 0;
        left: 100%;
      }
    }
    .time {
      margin-right: 0;
      margin-left: auto;
      display: block;
    }
  }
  @media screen and (max-width: 1400px) {
    margin-top: 30px;
    .text{
      line-height: 1.7;
    }
    .text-wrap {
      width: calc(100% - 160px);
    }
    .avatar {
      margin-right: 15px;
    }
    &.outgoing {
      margin-top: 30px;
      .text-wrap {
        width: calc(100% - 30px);
      }
    }
  }
}
.letterBox {
  .blackLink {
    width: 110px;
    margin-right: 60px;
    margin-top: 20px;
  }
  .letterBox__textarea{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    box-shadow: $shadow;
    min-height: 80px;
    padding: 20px 30px;
    font-size: 14px;
    border: 0;
    resize: none;
  }
  .inputMin{
    margin: 0 40px;
    width: 150px;
  }
  .indent{
    margin: 25px 0 15px;
  }
  @media screen and (max-width: 1500px) {
    .inputMin{
      margin: 0 20px;
      width: 130px;
    }
  }

}
/* - chatBox */


/* + map */
.mapPanel {
  position: fixed;
  bottom: 80px;
  right: 90px;
  background: #fff;
  width: 340px;

  box-shadow: $shadow;
  padding: 20px 55px 30px;
  h3{
    margin-top: 15px;
  }

  .roundSi{
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: $grey2;
    margin-right: 20px;
    &.yellow{
      background-color: $yellowe;
    }
    &.black{
      background-color: $black2;
    }
  }
  .statusInfo-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
/* - map */
/* + driverCard */
.close.abs{
  position: absolute;
  right: 90px;
  top: 77px;
  @media screen and (max-width: 1800px){
    right: 30px;
    top: 30px;
  }

}
.driverCard{
  .avatar{
    width: 220px;
    height: 220px;
    display: block;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  .titleBlock{
    margin-bottom: 40px;
  }
  h2{
    font-family: $f5;
  }
  .yellowBox-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
  }
  .dcLeft {
    display: table;
    margin: auto;
    position: relative;
  }
}
.infoPerson{
  display: flex;
  flex-wrap: wrap;
  .infoPerson-item{
    width: 50%;
    max-width: 220px;
    margin-bottom: 30px;
    &:nth-child(even){
      padding-left: 30px;
    }
  }
  .titleIp{
    color: $black2;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .textIp{
    color: $black;

  }
}
@media screen and (max-width: 1500px){
  .popupCt {
    width: calc(100% - 200px);
    .avatar {
      width: 180px;
      height: 180px;
    }
    .titleBlock {
      margin-bottom: 30px;
    }
  }
  .driverCard .yellowBox-wrap {
    margin-top: 40px;
  }

}
@media screen and (max-width: 1025px){
  .close.abs {
    position: absolute;
    right: 40px;
  }
  .driverCard {

    .yellowBox{
      width: 115px;
      height: 100px;
      margin: 0 5px;
      line-height: 1.3;
      font-size: 12px;
      padding: 10px;
    }
  }
  .ratingDc .ratingLine li {
    width: 30px;
    height: 20px;
  }
  .popupCt .avatar {
    width: 120px;
    height: 120px;
  }
  .popupCt .titleBlock {
    font-size: 20px;
  }
}
/* - driverCard */

/* + newOrder */
.inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  .input-wrap{
    width: calc(50% - 15px);
    margin-bottom: 34px;
  }
  .textarea-wrap{
    height: 60px;
    .textarea{
      height: 154px;
    }
  }
  @media screen and (max-width: 1200px){
    .input-wrap{
      width: calc(50% - 5px);
      margin-bottom: 25px;
    }
    .textarea-wrap .textarea {
      height: 146px;
    }
  }
  @media screen and (max-width: 1025px){
    .input-wrap{
      .input {
        font-size: 12px;
        padding: 22px 10px;
      }
    }
    .textarea-wrap .textarea {
      padding: 20px 10px;
      font-size: 12px;
    }
    .select-wrap .select2-container--default .select2-selection--single {
      padding: 16px 10px;
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 1025px){
  .newOrder .right.indent {
    margin-bottom: 20px;
  }
  .formCb>.indent{
    margin-bottom: 20px;
  }
}

.table-wrap.pc{
  padding-top: 10px;
  padding-bottom: 0;
  height: auto;
  &:before{
    top: 0;
    height: 100%;
  }
  .scroll{
    min-height: 131px;
   height: 131px;

    padding-bottom: 10px;
  }
  .table {
    min-width: 700px;
  }
}

.newOrder{
  .col-v10, .col-v9, .col-v8, .col-v7, .col-v6, .col-v5, .col-v4, .col-v3, .col-v2, .col-v1 {
    padding-right: 30px;
    @media screen and (max-width: 1200px){
      padding-right: 10px;
    }
  }


  .blackLink.indent{
    margin-right: 40px;
  }
  .mapBox{
    box-shadow: $shadow;
    width: 100%;
    height: 342px;
    margin-bottom: 34px;
  }
  .parameterBox{
    box-shadow: $shadow;
    height: 141px;
    padding: 10px 0px 10px 20px;
    .checkedBtn{
      display: table;
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .newOrder__from{
    margin-top: 60px;
  }
  .right.indent{
    margin-top: 60px;
  }
  @media screen and (max-width: 1200px){
    .mapBox {
      height: 316px;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width: 900px){
    .newOrder__from{
      margin-top: 40px;
    }
    .right.indent{
      margin-top: 40px;
    }
  }
}
/* -newOrder */

/* + complaintBox */
.complaintBox{
  .m0{
    margin-bottom: 0;
    margin-top: 10px;
  }
}
.formCb{
  max-width: 725px;
  margin: auto;
  margin-top: 60px;
  .textarea-wrap{
    height: 150px;
    margin-bottom: 80px;
  }
  .table-wrap.pc .scroll {
    max-height: 167px;
  }
  @media screen and (max-height: 900px){
    margin-top:30px;
    .textarea-wrap{
      height: 120px;
      margin-bottom: 30px;
    }
    .table-wrap.pc .scroll {
      max-height: 131px;
    }
  }
}
.tableResult {
  padding: 20px 20px;
  margin: 34px 0;
  box-shadow: $shadow;
  color: $grey3;
  @media screen and (max-height: 900px){
    margin: 20px 0;
  }
}
/* - complaintBox */
/* --- operator */

/* + testMenu */
.testMenu{
  padding: 30px 20px;
  a{
    display: inline-block;
    font-size: 15px;
    margin: 10px 20px;
    text-transform: uppercase;
  }
}
/* - testMenu */