@charset "UTF-8";

@font-face {
  font-family: "OpenSans-Regular";
  src: url(/fonts/OpenSans-Regular.eot?c6543ebb0830680b7328f4eb85c8a3f3);
  src: url(/fonts/OpenSans-Regular.eot?c6543ebb0830680b7328f4eb85c8a3f3) format("embedded-opentype"), url(/fonts/OpenSans-Regular.svg?38520c92f185a158a4d4f12adac8e989) format("svg"), url(/fonts/OpenSans-Regular.ttf?00b0fcbebffafefd693125be2ce5ec61) format("truetype"), url(/fonts/OpenSans-Regular.woff?d8c1892635ee96e25d4752fe2c25223c) format("woff"), url(/fonts/OpenSans-Regular.woff2?737e96cadf4a01fcd3a67e09c3ebc86a) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url(/fonts/OpenSans-SemiBold.eot?11d670a385228bfd4f2460146e65682b);
  src: url(/fonts/OpenSans-SemiBold.eot?11d670a385228bfd4f2460146e65682b) format("embedded-opentype"), url(/fonts/OpenSans-SemiBold.svg?f4417b3f2c535795dc38c87ea92151ec) format("svg"), url(/fonts/OpenSans-SemiBold.ttf?3eb7e0f601a23ee1af2efeeb0a181f58) format("truetype"), url(/fonts/OpenSans-SemiBold.woff?998560b8c31efcdd1b11c7a2a9a19390) format("woff"), url(/fonts/OpenSans-SemiBold.woff2?c9fde9681cba560dc4661dad021298c0) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(/fonts/OpenSans-Bold.eot?6f03cc3ecb0333cbc6c4b9d299c35ea2);
  src: url(/fonts/OpenSans-Bold.eot?6f03cc3ecb0333cbc6c4b9d299c35ea2) format("embedded-opentype"), url(/fonts/OpenSans-Bold.svg?588d623143080a958d70c8d1eeb56876) format("svg"), url(/fonts/OpenSans-Bold.ttf?cbf4fea1a9345e89111941afc9fbcfe1) format("truetype"), url(/fonts/OpenSans-Bold.woff?a12178877e3dc0a072da91869753e83c) format("woff"), url(/fonts/OpenSans-Bold.woff2?72059a18e01dcfdddfc1b8b1d5f58e73) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(/fonts/Montserrat-Bold.eot?12af69863c4cb819d1f84d4d74436387);
  src: url(/fonts/Montserrat-Bold.eot?12af69863c4cb819d1f84d4d74436387) format("embedded-opentype"), url(/fonts/Montserrat-Bold.svg?95c95bc5af60c58c3eebb60e0f358cc9) format("svg"), url(/fonts/Montserrat-Bold.ttf?19285cbbc8e59f1692b632fe2eee1194) format("truetype"), url(/fonts/Montserrat-Bold.woff?1a502da93d9cf62f095938e110f96cf6) format("woff"), url(/fonts/Montserrat-Bold.woff2?e6ae56ed79b86347d9629deaccbe3633) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Black";
  src: url(/fonts/Montserrat-Black.eot?82de77e7ba0bf088c92d66c9e6f1969f);
  src: url(/fonts/Montserrat-Black.eot?82de77e7ba0bf088c92d66c9e6f1969f) format("embedded-opentype"), url(/fonts/Montserrat-Black.svg?4fdfbbafb110104682f9114981bc9d38) format("svg"), url(/fonts/Montserrat-Black.ttf?c3ef70ef485e9d736fad1aea430e9cb7) format("truetype"), url(/fonts/Montserrat-Black.woff?993e2a8b6e09035b368f073ad6278376) format("woff"), url(/fonts/Montserrat-Black.woff2?e36ccd4740e5bb654aa3e50398f1ff16) format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "OpenSans-Regular";
  margin: 0;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}

img {
  width: 100%;
}

.flex1 {
  display: flex;
}

.flex2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex4 {
  display: flex;
  align-items: center;
}

.flex5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex6 {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.relative {
  position: relative;
}

.m0 {
  margin: 0;
}

/* + ios */

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

/* - ios */

/* + styleGuide */

.styleGuide .fonSg {
  padding: 5px;
  background-color: rgba(4, 21, 19, 0.3);
}

.styleGuide textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  background: #4F4E5D;
  color: #fff;
  height: 150px;
  margin-top: 10px;
  display: block;
}

.styleGuide textarea.indent {
  margin-top: 20px;
}

.iconSg i {
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
}

.boxSg {
  display: block;
  margin-bottom: 25px;
}

.styleGuide-menu {
  background-color: #4F4E5D;
  width: 320px;
  display: inline-block;
  vertical-align: top;
  padding: 20px 15px;
  min-height: 100vh;
  position: fixed;
}

.styleGuide-link {
  color: #fff;
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
}

.styleGuide-content {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 325px);
  padding: 20px 15px;
  margin-left: 320px;
  min-height: 100vh;
}

.styleGuide-item {
  display: none;
}

.styleGuide-item.active {
  display: block;
}

/* - styleGuide */

/* + scrol */

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 7px;
  height: 0px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F6;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  position: absolute;
  border-radius: 0px;
  background-color: #F3B63B;
  width: 7px;
}

::-webkit-resizer {
  background-repeat: no-repeat;
  width: 7px;
  height: 0px;
  position: absolute;
}

::-webkit-scrollbar {
  width: 7px;
  position: absolute;
}

.scroll {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.scroll::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 10px;
  height: 0px;
  position: absolute;
}

.scroll::-webkit-scrollbar-track {
  background-color: #F2F2F2;
  position: absolute;
}

.scroll::-webkit-scrollbar-thumb {
  position: absolute;
  background-color: #F3B63B;
  box-shadow: none;
  height: 7px;
  border: 0px solid #F3B63B;
}

.scroll::-webkit-resizer {
  background-repeat: no-repeat;
  height: 7px;
  position: absolute;
}

.scroll::-webkit-scrollbar {
  height: 7px;
  position: absolute;
}

/* - scrol */

/* + сетка */

.row-wrap,
.row-wrap .row-wrap {
  letter-spacing: -5px !important;
}

.row-wrap.middle > div {
  vertical-align: middle;
}

.row-wrap.bottom > div {
  vertical-align: bottom;
}

.row-wrap.middle > div.center {
  text-align: center;
}

.row-wrap.middle > div.left {
  text-align: left;
}

.row-wrap.middle > div.right {
  text-align: right;
}

.row-wrap > div:last-child {
  padding-right: 0;
}

.row-wrap * {
  letter-spacing: 0;
}

.bottomLine-vb .row-wrap > div {
  vertical-align: middle;
}

.row-wrap.int {
  width: calc(100% + 20px);
  margin-left: -10px;
}

.row-wrap.int .col-v10,
.row-wrap.int .col-v9,
.row-wrap.int .col-v8,
.row-wrap.int .col-v7,
.row-wrap.int .col-v6,
.row-wrap.int .col-v5,
.row-wrap.int .col-v4,
.row-wrap.int .col-v3,
.row-wrap.int .col-v2,
.row-wrap.int .col-v1 {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}

.row-wrap.middle.int .col-v10,
.row-wrap.middle.int .col-v9,
.row-wrap.middle.int .col-v8,
.row-wrap.middle.int .col-v7,
.row-wrap.middle.int .col-v6,
.row-wrap.middle.int .col-v5,
.row-wrap.middle.int .col-v4,
.row-wrap.middle.int .col-v3,
.row-wrap.middle.int .col-v2,
.row-wrap.middle.int .col-v1 {
  vertical-align: middle;
}

.col-v10,
.col-v9,
.col-v8,
.col-v7,
.col-v6,
.col-v5,
.col-v4,
.col-v3,
.col-v2,
.col-v1 {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}

.col-v10 {
  width: 100%;
  padding-right: 0;
}

.col-v9 {
  width: 90%;
}

.col-v8 {
  width: 80%;
}

.col-v7 {
  width: 70%;
}

.col-v6 {
  width: 60%;
}

.col-v5 {
  width: 50%;
}

.col-v4 {
  width: 40%;
}

.col-v3 {
  width: 30%;
}

.col-v2 {
  width: 20%;
}

.col-v1 {
  width: 10%;
}

.col-v5:nth-child(even),
.col-v5:last-child {
  padding-right: 0;
}

.indent-r20 {
  margin-right: 20px;
}

.indentBt {
  margin-bottom: 25px;
}

@media screen and (max-width: 1025px) {
  .col-t10 {
    width: 100%;
    padding-right: 0;
  }

  .col-t9 {
    width: 90%;
  }

  .col-t8 {
    width: 80%;
  }

  .col-t7 {
    width: 70%;
  }

  .col-t6 {
    width: 60%;
  }

  .col-t5 {
    width: 50%;
  }

  .col-t4 {
    width: 40%;
  }

  .col-t3 {
    width: 30%;
  }

  .col-t2 {
    width: 20%;
  }

  .col-t1 {
    width: 10%;
  }
}

@media screen and (max-width: 980px) {
  .col-m10 {
    width: 100%;
    padding-right: 0;
  }

  .col-m9 {
    width: 90%;
  }

  .col-m8 {
    width: 80%;
  }

  .col-m7 {
    width: 70%;
  }

  .col-m6 {
    width: 60%;
  }

  .col-m5 {
    width: 50%;
  }

  .col-m4 {
    width: 40%;
  }

  .col-m3 {
    width: 30%;
  }

  .col-m2 {
    width: 20%;
  }

  .col-m1 {
    width: 10%;
  }
}

@media screen and (max-width: 768px) {
  .col-w10 {
    width: 100%;
    padding-right: 0;
  }

  .col-w9 {
    width: 90%;
  }

  .col-w8 {
    width: 80%;
  }

  .col-w7 {
    width: 70%;
  }

  .col-w6 {
    width: 60%;
  }

  .col-w5 {
    width: 50%;
  }

  .col-w4 {
    width: 40%;
  }

  .col-w3 {
    width: 30%;
  }

  .col-w2 {
    width: 20%;
  }

  .col-w1 {
    width: 10%;
  }

  .pading0-p {
    padding: 0;
  }
}

@media screen and (max-width: 640px) {
  .col-p10 {
    width: 100%;
    padding-right: 0;
  }

  .col-p9 {
    width: 90%;
  }

  .col-p8 {
    width: 80%;
  }

  .col-p7 {
    width: 70%;
  }

  .col-p6 {
    width: 60%;
  }

  .col-p5 {
    width: 50%;
  }

  .col-p4 {
    width: 40%;
  }

  .col-p3 {
    width: 30%;
  }

  .col-p2 {
    width: 20%;
  }

  .col-p1 {
    width: 10%;
  }

  .pading0-p {
    padding: 0;
  }
}

/* - сетка */

.btn {
  background-color: #F3B63B;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  font-size: 16px;
  font-family: "OpenSans-Bold";
  text-align: center;
  color: #4A4A4A;
  padding: 25px;
  display: inline-block;
  vertical-align: middle;
  transition: 0.5s;
}

.btn.min {
  padding: 22px 25px;
  line-height: 1;
}

.btn:hover {
  background-color: #F2C94C;
}

.btn.clean {
  background-color: transparent;
}

.btn.clean:hover {
  opacity: 0.8;
}

.btn.black {
  background-color: #000;
}

.btn.black:hover {
  background-color: #4A4A4A;
}

.btn.grey {
  background-color: #C4C4C4;
}

.btn.grey:hover {
  background-color: #95959e;
}

.btn svg {
  display: block;
}

.close {
  width: 34px;
  height: 34px;
  background-image: url(/images/cross.svg?cb95bb318f7b5608a7054a6f3191d09b);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  background-color: transparent;
  border: 0;
  padding: 0;
  box-shadow: none;
  transition: 0.5s;
}

.close:hover {
  opacity: 0.8;
}

.audioBtn {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid #F3B63B;
  display: block;
  position: relative;
}

.audioBtn:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 11px solid #4A4A4A;
  border-bottom: 6px solid transparent;
  position: absolute;
  top: 0;
  left: 2px;
  right: 0;
  bottom: 0;
  margin: auto;
}

.audioBtn.pause:before {
  border: 0;
  width: 9px;
  height: 11px;
  left: 0;
  background-color: #4A4A4A;
}

.audioBtn.pause:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 3px;
  height: 11px;
  background-color: #fff;
}

h1 {
  font-family: "Montserrat-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0 0 20px;
  color: #333333;
}

h2 {
  font-family: "Montserrat-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0 0 20px;
  color: #333333;
}

h3 {
  font-family: "OpenSans-SemiBold";
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  margin: 0 0 20px;
  color: #333333;
}

h4 {
  font-size: 14px;
  line-height: 1.4;
  font-weight: normal;
  margin: 0 0 20px;
  color: #333333;
}

h5 {
  font-size: 12px;
  font-family: "OpenSans-Bold";
  line-height: 1.4;
  margin: 0 0 20px;
  color: #333333;
}

h6 {
  font-size: 12px;
  line-height: 1.4;
  margin: 0 0 20px;
  color: #333333;
}

p {
  line-height: 1.4;
  margin: 0;
  color: #333333;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
  color: #4A4A4A;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

a:hover {
  opacity: 0.8;
}

.smallText,
.smallLink {
  font-size: 12px;
}

.text {
  font-size: 14px;
}

.titleBlock {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
}

.titleBlock .text {
  display: block;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  margin-top: 10px;
}

.doteLink {
  font-size: 16px;
  font-family: "OpenSans-SemiBold";
  border-bottom: 1px dashed #4F4E5D;
}

.doteLink:hover {
  border-color: transparent;
}

.blackLink,
.blackText {
  font-size: 16px;
  font-family: "OpenSans-SemiBold";
  background-color: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

.blackLink.indentR,
.blackText.indentR {
  margin-right: 40px;
}

.borderLink {
  color: #95959e;
  border-bottom: 1px solid #95959e;
}

.borderLink:hover {
  border-color: transparent;
}

.detailLink {
  width: 32px;
  height: 32px;
  border: 1px solid #F3B63B;
  border-radius: 100%;
  color: #333333;
  font-size: 0;
  background-image: url(/images/arrow.svg?f755b75fd4d1d912f60b5c7288c678f8);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: 47% center;
  display: block;
  background-color: transparent;
}

.openLink {
  width: 32px;
  height: 32px;
  border: 1px solid #F3B63B;
  border-radius: 100%;
  color: #333333;
  font-size: 0;
  background-image: url(/images/arrow.svg?f755b75fd4d1d912f60b5c7288c678f8);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: 47% center;
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: transparent;
}

.openLink.active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border-color: #333333;
  background-image: url(/images/arrow2.svg?5fa4079a03428fceccc140a5a8b0bad3);
}

tr.open .openLink {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border-color: #333333;
  background-image: url(/images/arrow2.svg?5fa4079a03428fceccc140a5a8b0bad3);
}

/* + loader */

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.9);
  z-index: 100;
}

.loader-container .loader {
  width: 14px;
  height: 14px;
  position: relative;
  -webkit-animation: loader 1s ease infinite;
          animation: loader 1s ease infinite;
  top: 50%;
  margin: -30px auto 0 auto;
}

@-webkit-keyframes loader {
  0%, 100% {
    box-shadow: -10px 15px 0 #F3B63B, 10px 15px 0 #4f4e5d, 10px 36px 0 #4f4e5d, -10px 36px 0 #4f4e5d;
  }

  25% {
    box-shadow: -10px 15px 0 #4f4e5d, 10px 15px 0 #F3B63B, 10px 36px 0 #4f4e5d, -10px 36px 0 #4f4e5d;
  }

  50% {
    box-shadow: -10px 15px 0 #4f4e5d, 10px 15px 0 #4f4e5d, 10px 36px 0 #F3B63B, -10px 36px 0 #4f4e5d;
  }

  75% {
    box-shadow: -10px 15px 0 #4f4e5d, 10px 15px 0 #4f4e5d, 10px 36px 0 #4f4e5d, -10px 36px 0 #F3B63B;
  }
}

@keyframes loader {
  0%, 100% {
    box-shadow: -10px 15px 0 #F3B63B, 10px 15px 0 #4f4e5d, 10px 36px 0 #4f4e5d, -10px 36px 0 #4f4e5d;
  }

  25% {
    box-shadow: -10px 15px 0 #4f4e5d, 10px 15px 0 #F3B63B, 10px 36px 0 #4f4e5d, -10px 36px 0 #4f4e5d;
  }

  50% {
    box-shadow: -10px 15px 0 #4f4e5d, 10px 15px 0 #4f4e5d, 10px 36px 0 #F3B63B, -10px 36px 0 #4f4e5d;
  }

  75% {
    box-shadow: -10px 15px 0 #4f4e5d, 10px 15px 0 #4f4e5d, 10px 36px 0 #4f4e5d, -10px 36px 0 #F3B63B;
  }
}

/* - loader */

/* + fancybox */

.fancybox-overlay {
  background-image: none;
  background-color: rgba(245, 245, 245, 0.9);
}

#fancybox-loading,
.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
  background-image: url(/images/fancybox_sprite.png?783d4031fe50c3d83c960911e1fbc705);
}

.fancybox-skin {
  padding: 0 !important;
}

.fancybox-opened .fancybox-skin {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
}

.fancybox-close {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 34px;
  height: 34px;
  background-image: url(/images/cross.svg?cb95bb318f7b5608a7054a6f3191d09b);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.fancybox-prev span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.fancybox-next span,
.fancybox-prev span {
  background-image: url(/images/arrow.svg?f755b75fd4d1d912f60b5c7288c678f8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  width: 32px;
  height: 32px;
  border: 1px solid #333;
  border-radius: 100%;
  display: block;
  background-position: 47% center;
}

.fancybox-nav span {
  visibility: visible;
}

.fancybox-prev {
  left: -70px;
  width: 70px;
  opacity: 1;
}

.fancybox-next {
  right: -70px;
  width: 70px;
  opacity: 1;
}

.fancybox-inner,
.fancybox-outer,
.fancybox-wrap {
  max-width: 80vw;
}

/* - fancybox */

/* + avatar */

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-image: url(/images/ava.svg?39f00a8832da1e32dfc696ebd4f693a6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.avatar.min {
  width: 40px;
  height: 40px;
}

/* - avatar */

/* + messagesBox */

.messagesBox {
  background-color: #F3B63B;
  width: 20px;
  height: 15px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.messagesBox:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid #F3B63B;
  border-right: 4px solid transparent;
  position: absolute;
  top: 100%;
  left: 4px;
  display: block;
}

/* - messagesBox */

/* + photoAuto */

.photoAuto {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  vertical-align: middle;
  margin-right: 20px;
  background-color: #F3B63B;
  position: relative;
}

.photoAuto img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
}

.photoAuto:last-child {
  margin-right: 0;
}

.photoAuto .countPhoto {
  z-index: 3;
}

.photoAuto .countPhoto span {
  max-width: 24px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* - photoAuto */

/* + ratingDc */

.ratingDc .ratingLine {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
}

.ratingDc .ratingLine li {
  list-style-type: none;
  display: inline-block;
  vertical-align: bottom;
  width: 44px;
  height: 20px;
  background-color: #F3B63B;
}

.ratingDc .ratingLine li:nth-child(4) {
  height: 18px;
  opacity: 0.9;
}

.ratingDc .ratingLine li:nth-child(3) {
  height: 16px;
  opacity: 0.75;
}

.ratingDc .ratingLine li:nth-child(2) {
  height: 14px;
  opacity: 0.5;
}

.ratingDc .ratingLine li:nth-child(1) {
  height: 12px;
  opacity: 0.25;
}

.tegRl {
  width: 2px;
  height: 25px;
  background-color: #4A4A4A;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.ratingLine-element {
  position: relative;
  display: table;
}

/* - ratingDc */

/* + yellowBox */

.yellowBox {
  background-color: #F3B63B;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 2;
  font-family: "OpenSans-Bold";
  width: 220px;
  height: 180px;
  margin: 0 30px 0 0;
  padding: 20px 30px;
  text-align: center;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1500px) {
  .yellowBox {
    font-size: 14px;
    width: 160px;
    height: 120px;
    padding: 15px;
  }
}

/* - yellowBox */

.ic {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}

.ic-pint {
  background-image: url(/images/point.svg?34efe4468baaa29c7227b893ccd32f21);
}

.ic-user {
  background-image: url(/images/user-ic.svg?f4e49edbaa61b31abccc818485b9adcd);
}

.fill-yellow {
  fill: #F3B63B;
}

.fill-black {
  fill: #000;
}

input {
  outline: none;
}

.inputReg {
  text-align: left;
}

.inputReg p {
  margin: 0 0 5px;
  line-height: 1.4;
}

.inputReg input {
  border: 0;
  font-size: 14px;
  border-bottom: 2px solid #F2F2F2;
  height: 40px;
  color: #4A4A4A;
  padding-left: 0px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: 0.5s;
  width: 100%;
}

.inputReg input:hover {
  border-color: #C4C4C4;
}

.inputReg input:focus-within {
  border-color: #F3B63B;
}

.inputReg input.fill {
  border-color: #F3B63B;
}

.inputReg.error input {
  border-bottom: 2px solid #EB5757;
  color: #EB5757;
}

textarea::-webkit-input-placeholder {
  color: #C4C4C4;
  transition: 0.5s;
}

textarea::-moz-placeholder {
  color: #C4C4C4;
  transition: 0.5s;
}

textarea:-moz-placeholder {
  color: #C4C4C4;
  transition: 0.5s;
}

textarea:-ms-input-placeholder {
  color: #C4C4C4;
  transition: 0.5s;
}

.textarea {
  width: 100%;
  height: 100%;
  border: 0;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  padding: 20px 30px;
  resize: none;
  font-size: 14px;
  font-family: "OpenSans-Regular";
}

.textarea::-webkit-input-placeholder {
  color: #95959e;
  transition: 0.5s;
}

.textarea::-moz-placeholder {
  color: #95959e;
  transition: 0.5s;
}

.textarea:-moz-placeholder {
  color: #95959e;
  transition: 0.5s;
}

.textarea:-ms-input-placeholder {
  color: #95959e;
  transition: 0.5s;
}

.textarea:hover::-webkit-input-placeholder {
  color: #4A4A4A;
}

.textarea:hover::-moz-placeholder {
  color: #4A4A4A;
}

.textarea:hover:-moz-placeholder {
  color: #4A4A4A;
}

.textarea:hover:-ms-input-placeholder {
  color: #4A4A4A;
}

.input {
  font-size: 14px;
  color: #4A4A4A;
  width: 100%;
  height: 100%;
  padding: 22px 20px;
  border: 0;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
}

.input.error {
  border-bottom: 2px solid #EB5757;
  outline-offset: -2px;
  color: #EB5757;
  padding-bottom: 20px;
}

.input::-webkit-input-placeholder {
  color: #95959e;
  transition: 0.5s;
}

.input::-moz-placeholder {
  color: #95959e;
  transition: 0.5s;
}

.input:-moz-placeholder {
  color: #95959e;
  transition: 0.5s;
}

.input:-ms-input-placeholder {
  color: #95959e;
  transition: 0.5s;
}

.input:hover::-webkit-input-placeholder {
  color: #4A4A4A;
}

.input:hover::-moz-placeholder {
  color: #4A4A4A;
}

.input:hover:-moz-placeholder {
  color: #4A4A4A;
}

.input:hover:-ms-input-placeholder {
  color: #4A4A4A;
}

.input.min {
  padding: 5px 10px;
}

.input-wrap {
  position: relative;
}

.tipSelect {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #fff;
  display: none;
  border: 1px solid #F2F2F2;
  border-top: 0px;
  z-index: 5;
}

.tipSelect.active {
  display: block;
}

.tipSelect .tipSelect__item {
  padding: 10px 20px;
  display: block;
}

.tipSelect .tipSelect__item:hover {
  background-color: #F4F4F6;
}

.inputMin {
  height: 33px;
  background-color: #F4F4F6;
  border: 1px solid #F2F2F2;
  padding: 0 11px;
  color: #4F4E5D;
}

.radioBtn {
  display: inline-block;
  vertical-align: middle;
}

.radioBtn.border label span {
  border: 1px solid #95959e;
}

.radioBtn.large label span {
  width: 20px;
  height: 20px;
}

.radioBtn.large input:checked ~ label span:before {
  width: 10px;
  height: 10px;
}

.radioBtn input {
  display: none;
}

.radioBtn label {
  display: flex;
  align-items: center;
}

.radioBtn label span {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  margin-right: 10px;
}

.radioBtn input:checked ~ label span {
  background-color: #fff;
  border: 1px solid #4F4E5D;
  position: relative;
}

.radioBtn input:checked ~ label span:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #4F4E5D;
}

.checkedBtn {
  display: inline-block;
  vertical-align: middle;
}

.checkedBtn.br label span {
  width: 18px;
  height: 18px;
  background-color: #F4F4F6;
  border: 1px solid #F2F2F2;
}

.checkedBtn input {
  display: none;
}

.checkedBtn label {
  display: flex;
  align-items: center;
}

.checkedBtn label span {
  width: 12px;
  height: 12px;
  background-color: #fff;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.checkedBtn input:checked ~ label span:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 8px;
  top: 0;
  bottom: 3px;
  left: 0;
  right: 0;
  margin: auto;
  border-top: 2px solid;
  border-left: 2px solid;
  border-color: #4F4E5D;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.select-wrap .select {
  width: 100%;
}

.select-wrap .select2-container--default .select2-selection--single {
  border: 0;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  padding: 16px 20px;
  font-size: 14px;
  height: auto;
}

.select-wrap .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 0;
  bottom: 0;
  margin: auto;
  height: 10px;
  width: 10px;
  background-image: url(/images/arrow.svg?f755b75fd4d1d912f60b5c7288c678f8);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 20px;
}

.select-wrap .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select-wrap .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.select2-dropdown {
  border: 1px solid #F2F2F2;
  padding: 0;
  border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #4F4E5D;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #F4F4F6;
  color: #333333;
}

.select2-search--dropdown {
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px 0;
}

.select2-results__option {
  color: #333333;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.select2-results__options {
  padding-top: 10px;
  padding-bottom: 20px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  color: #95959e;
}

.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.table-wrap {
  padding-bottom: 10px;
  position: relative;
}

.table-wrap .scroll {
  min-height: calc(100vh - 230px);
}

.table-wrap .scroll.ha {
  min-height: auto;
}

.table-wrap:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  height: calc(100% - 24px);
  display: block;
  width: 100%;
  z-index: -1;
}

.table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  min-width: 1095px;
}

.table thead {
  padding: 0 15px;
}

.table tbody tr {
  border-bottom: 1px solid #F2F2F2;
}

.table tbody tr:last-child {
  border-bottom: 0;
}

.table tbody tr.open + .accordion-item {
  display: table-row;
}

.table td:first-child,
.table th:first-child {
  padding-left: 20px;
}

.table th {
  padding: 0 5px 7px;
  font-size: 12px;
  font-weight: normal;
  color: #4A4A4A;
}

.table td {
  padding: 9px 5px;
  font-size: 12px;
  color: #333333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table .thPhone {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table .audioBtn,
.table .detailLink {
  margin: auto;
}

.table .messagesBox {
  margin-left: 5px;
  margin-bottom: 11px;
}

.table .accordion-item {
  display: none;
}

.table .accordion-item.active {
  display: table-row;
}

.table .photoAuto-wrap {
  width: 57%;
}

.table .accordion-r {
  width: 43%;
  word-wrap: break-word;
  white-space: initial;
}

/* + popup */

.popup-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.9);
}

.popup-wrap .blackLink.indentLeft {
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .popup-wrap .blackLink.indentLeft {
    margin-left: 0px;
  }
}

.popup-wrap.active {
  display: block;
}

.popup-wrap:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.popup-wrap .popup {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 20px);
  max-width: 624px;
  background: #fff;
  padding: 70px 95px 100px;
  box-sizing: border-box;
  border: 1px solid #F2F2F2;
  text-align: center;
}

.popup-wrap .inputReg {
  margin-bottom: 40px;
}

.popup-wrap .btn.enter {
  width: 190px;
}

.popup-wrap .redText span {
  display: inline-block;
  vertical-align: middle;
}

.popup-wrap .flex2.indent {
  margin-top: 70px;
  margin-bottom: 70px;
}

.popup-wrap .titleBlock {
  margin-bottom: 100px;
}

.popup-wrap .titleBlock.indent {
  margin-bottom: 40px;
}

.popup-wrap .popup-call {
  display: inline-block;
  vertical-align: middle;
}

.popup-wrap .itemBtn {
  display: inline-block;
  vertical-align: middle;
  margin: 0 25px;
}

.popup-wrap .itemBtn .btn {
  margin-bottom: 35px;
}

.popup-wrap .note {
  position: absolute;
  bottom: 60px;
  left: 100px;
  font-size: 12px;
  line-height: 26px;
  max-width: 485px;
  text-align: left;
}

.popup-wrap .userPw {
  margin-bottom: 70px;
}

.popup-wrap .userPw .blackText {
  margin-bottom: 10px;
}

@media screen and (max-height: 1024px) {
  .popup-wrap .popup-call {
    margin-bottom: 50px;
  }

  .popup-wrap .note {
    bottom: 30px;
    left: 70px;
  }

  .popup-wrap .userPw {
    margin-bottom: 50px;
  }

  .popup-wrap .itemBtn .btn {
    margin-bottom: 20px;
  }
}

@media screen and (max-height: 800px) {
  .popup-wrap .popup {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .popup-wrap .titleBlock {
    margin-bottom: 60px;
  }

  .popup-wrap .inputReg {
    margin-bottom: 30px;
  }

  .popup-wrap .flex2.indent {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

/* - popup */

/* + popupCt */

.popupCt {
  position: fixed;
  height: 100vh;
  right: 0;
  top: 0;
  width: calc(100% - 260px);
  background: #fff;
  z-index: 10;
  padding: 60px 0;
  display: none;
  overflow: auto;
}

.popupCt.flex {
  align-items: center;
  justify-content: center;
}

.popupCt.flex.active {
  display: flex;
}

.popupCt.active {
  display: block;
}

.popupCt .wrap {
  max-width: 1290px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0 30px;
}

@media screen and (max-height: 900px) {
  .popupCt {
    padding: 40px 0;
  }
}

@media screen and (max-width: 1200px) {
  .popupCt .doteLink {
    font-size: 12px;
  }
}

/* - popupCt */

/* +++ operator */

.lkPanel {
  width: 260px;
  background-color: #4F4E5D;
  min-height: 100vh;
}

.lkBox {
  width: calc(100% - 260px);
}

.lkBox .contentLb > .row-wrap > .col-v7,
.lkBox .headerLb > .row-wrap > .col-v7 {
  width: calc(100% - 345px);
  padding-right: 30px;
}

.lkBox .contentLb > .row-wrap > .col-v3,
.lkBox .headerLb > .row-wrap > .col-v3 {
  width: 345px;
}

.contentLb {
  padding: 30px 90px 40px;
}

.contentLb.chat .panelOp {
  min-height: calc(100vh - 130px);
}

.headerLb {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  padding: 15px 90px;
}

.menuHlb {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
}

.menuHlb li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}

.userLink-wrap {
  display: inline-block;
  vertical-align: middle;
}

.userLink-wrap .ic {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.cityLink-wrap {
  display: inline-block;
  vertical-align: middle;
}

.cityLink-wrap .ic {
  width: 25px;
  height: 36px;
  margin-right: 15px;
}

.logoBg {
  padding: 40px 20px;
  border-bottom: 1px solid #95959e;
  text-align: center;
}

.logoBg a:hover {
  opacity: 1;
}

.menuLk {
  margin: 70px 0 0 70px;
  padding: 0;
}

.menuLk li {
  list-style-type: none;
  margin-bottom: 28px;
  padding-left: 15px;
  position: relative;
}

.menuLk li:before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #F3B63B;
  opacity: 0;
}

.menuLk li.active:before {
  opacity: 1;
}

.menuLk li.active a {
  font-family: "OpenSans-Bold";
  line-height: 26px;
}

.menuLk li.active a:hover {
  opacity: 1;
}

.menuLk li a {
  font-size: 14px;
  color: #fff;
}

.menuLk li a:hover {
  opacity: 0.7;
}

.settingBtn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

.settingBtn .fill-yellow {
  transition: 0.5s;
}

.settingBtn:hover .fill-yellow {
  fill: #C4C4C4;
}

.settingBtn.active .fill-yellow {
  fill: #4F4E5D;
}

.itemTab {
  display: none;
}

.itemTab.active {
  display: block;
}

.tabMenu {
  background-color: #fff;
  display: block;
  padding: 15px 20px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  position: relative;
}

.linkTab {
  font-size: 16px;
  font-family: "OpenSans-SemiBold";
  color: #C4C4C4;
  margin-right: 40px;
  position: relative;
}

.linkTab:last-child {
  margin-right: 0;
}

.linkTab.active {
  color: #4A4A4A;
}

.linkTab.active:before {
  content: "";
  position: absolute;
  top: calc(100% + 15px);
  width: 100%;
  height: 4px;
  background-color: #F3B63B;
}

.searchOp {
  margin-bottom: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
}

.searchOp input {
  border: 0;
}

.searchOp .btn {
  width: 110px;
}

.searchOp .input {
  width: calc(100% - 110px);
}

.photoAuto a:hover {
  opacity: 1;
}

.panelOp {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  padding: 30px;
  display: block;
  box-sizing: border-box;
  min-height: calc(100vh - 244px);
}

.panelOp h3 {
  text-align: center;
  margin-bottom: 30px;
}

.panelOp .photoAuto {
  margin-right: 30px;
}

.panelOp .photoAuto ~ .driversInfo {
  max-width: calc(100% - 90px);
  width: 100%;
}

.panelOp .item {
  margin-bottom: 30px;
}

.panelOp .item:last-child {
  margin-bottom: 0;
}

.panelOp .text {
  margin-bottom: 10px;
}

.panelOp .text:last-child {
  margin-bottom: 0;
}

.panelOp .text.count {
  font-size: 16px;
  font-family: "OpenSans-SemiBold";
}

.panelOp .text.name {
  color: #333333;
}

.panelOp .text.comments {
  font-size: 12px;
}

.panelOp .driversInfo .data {
  font-size: 12px;
}

.panelOp .driversInfo .text {
  margin-bottom: 5px;
}

.panelOp .blackLink.indent {
  margin: 0 15px;
}

.panelOp .addComment {
  margin-bottom: 15px;
  margin-top: 20px;
  position: relative;
}

.panelOp .addComment a {
  font-size: 12px;
}

.panelOp .commentBox {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  width: 130px;
  left: 0;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  text-align: center;
  z-index: 1;
}

.panelOp .commentBox textarea {
  border: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  text-align: center;
  height: 90px;
  padding: 10px;
  border-bottom: 1px solid #F2F2F2;
}

.panelOp .commentBox .blackLink {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  padding: 0;
  margin: 10px 0 13px;
  cursor: pointer;
}

.panelOp .openComment.active ~ .commentBox {
  display: block;
}

.panelOp .openComment span:last-child {
  display: none;
}

.panelOp .openComment.active span:first-child {
  display: none;
}

.panelOp .openComment.active span:last-child {
  display: block;
}

.panelOp .rightOp {
  width: calc(100% - 65px);
  position: relative;
}

.panelOp .rightOp .data {
  position: absolute;
  right: 0;
  top: 0;
  color: #4F4E5D;
  font-size: 12px;
}

.panelOp .rightOp .name {
  color: #4F4E5D;
  font-size: 12px;
  margin-bottom: 5px;
}

.panelOp .rightOp .com {
  font-size: 14px;
}

/* + filterMenu */

.filterMenu {
  background-color: #F3B63B;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  padding: 37px 55px 37px 55px;
  display: none;
  z-index: 1;
}

.filterMenu.active {
  display: block;
}

.filterMenu .input.indent {
  margin-left: 16px;
}

.filterMenu .blackLink.indent {
  margin-right: 40px;
}

.filterMenu .line {
  margin-bottom: 30px;
}

.filterMenu .line:last-child {
  margin-bottom: 0px;
}

.filterMenu .radioBtn,
.filterMenu .checkedBtn {
  margin-right: 40px;
}

.filterMenu .radioBtn:last-child,
.filterMenu .checkedBtn:last-child {
  margin-right: 0;
}

.filterMenu .period-item {
  display: inline-block;
  vertical-align: middle;
}

.filterMenu .period-item .input {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
}

.filterMenu .period-item span {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.filterMenu .periodBox {
  display: inline-block;
  vertical-align: middle;
}

.filterMenu .radioBtn-wrap {
  display: inline-block;
  vertical-align: middle;
}

.filterMenu .radioBtn-wrap > .blackText {
  display: inline-block;
  margin-right: 20px;
}

.filterMenu .grid1 .col-v1 {
  width: 14%;
}

.filterMenu .grid1 .col-v3 {
  width: 24%;
}

@media screen and (max-width: 1700px) {
  .filterMenu {
    padding: 60px 20px 37px 30px;
  }

  .filterMenu .period-item .input {
    width: 100px;
  }

  .filterMenu .blackLink.indent {
    margin-right: 20px;
  }

  .filterMenu .blackLink,
  .filterMenu .blackText {
    font-size: 14px;
  }

  .filterMenu .checkedBtn label,
  .filterMenu .radioBtn label {
    font-size: 12px;
  }
}

@media screen and (max-width: 1300px) {
  .filterMenu .scroll {
    padding-bottom: 10px;
  }

  .filterMenu .scroll::-webkit-scrollbar-track {
    background-color: #F2F2F2;
  }

  .filterMenu .scroll::-webkit-scrollbar-thumb {
    background-color: #4F4E5D;
    border: 0px solid #4F4E5D;
  }

  .filterMenu .line {
    min-width: 797px;
  }
}

/* - filterMenu */

@media screen and (max-width: 1920px) {
  .contentLb {
    padding: 30px 30px 28px;
    max-width: 1540px;
    margin-left: auto;
    margin-right: auto;
  }

  .headerLb {
    padding: 15px 30px 15px;
  }

  .headerLb .row-wrap {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1700px) {
  .menuHlb {
    padding-right: 5%;
  }
}

@media screen and (max-width: 1500px) {
  .cityLink-wrap .ic {
    margin-right: 5px;
  }

  .userLink-wrap .ic {
    margin-right: 5px;
  }

  .lkPanel {
    width: 200px;
  }

  .menuLk {
    margin: 70px 0 0 30px;
  }

  .lkBox {
    width: calc(100% - 200px);
  }

  .lkBox .contentLb > .row-wrap > .col-v7,
  .lkBox .headerLb > .row-wrap > .col-v7 {
    width: calc(100% - 270px);
    padding-right: 15px;
  }

  .lkBox .contentLb > .row-wrap > .col-v3,
  .lkBox .headerLb > .row-wrap > .col-v3 {
    width: 270px;
  }

  .contentLb {
    padding: 15px;
  }

  .linkTab {
    font-size: 15px;
    margin-right: 20px;
  }

  .panelOp {
    padding: 20px;
  }

  .menuHlb li {
    padding-right: 15px;
  }

  .menuHlb a {
    font-size: 13px;
  }

  .headerLb {
    padding: 15px;
  }

  .panelOp .photoAuto ~ .driversInfo {
    width: calc(100% - 75px);
    max-width: 100%;
    display: inline-block;
  }

  .panelOp .photoAuto {
    margin-right: 5px;
    display: inline-block;
  }
}

/* + chatBox */

.chatBox {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  padding: 20px 30px;
  min-height: 270px;
  height: calc(100vh - 330px);
}

.chatBox .scroll {
  height: 100%;
}

@media screen and (max-width: 1400px) {
  .chatBox {
    padding: 20px;
  }
}

.chatBox__data {
  text-align: center;
  font-size: 12px;
}

.chatBox__message {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}

.chatBox__message .avatar {
  margin-right: 40px;
}

.chatBox__message .text-wrap {
  width: calc(100% - 95px);
}

.chatBox__message .time {
  margin-top: -5px;
  font-size: 12px;
  width: 100%;
  max-width: 375px;
}

.chatBox__message .text {
  padding: 10px 110px 20px 15px;
  background-color: #fff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  max-width: 375px;
  font-size: 12px;
  position: relative;
  line-height: 2.2;
  margin-bottom: 20px;
}

.chatBox__message .text:before {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 14px solid #fff;
  border-left: 14px solid transparent;
}

.chatBox__message.outgoing {
  margin-top: 0px;
}

.chatBox__message.outgoing .text-wrap {
  width: calc(100% - 70px);
}

.chatBox__message.outgoing .avatar {
  margin-right: auto;
  margin-left: 0px;
}

.chatBox__message.outgoing .text {
  margin-right: 0;
  margin-left: auto;
}

.chatBox__message.outgoing .text:before {
  right: auto;
  border-right: 14px solid transparent;
  border-left: 0;
  left: 100%;
}

.chatBox__message.outgoing .time {
  margin-right: 0;
  margin-left: auto;
  display: block;
}

@media screen and (max-width: 1400px) {
  .chatBox__message {
    margin-top: 30px;
  }

  .chatBox__message .text {
    line-height: 1.7;
  }

  .chatBox__message .text-wrap {
    width: calc(100% - 160px);
  }

  .chatBox__message .avatar {
    margin-right: 15px;
  }

  .chatBox__message.outgoing {
    margin-top: 30px;
  }

  .chatBox__message.outgoing .text-wrap {
    width: calc(100% - 30px);
  }
}

.letterBox .blackLink {
  width: 110px;
  margin-right: 60px;
  margin-top: 20px;
}

.letterBox .letterBox__textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  min-height: 80px;
  padding: 20px 30px;
  font-size: 14px;
  border: 0;
  resize: none;
}

.letterBox .inputMin {
  margin: 0 40px;
  width: 150px;
}

.letterBox .indent {
  margin: 25px 0 15px;
}

@media screen and (max-width: 1500px) {
  .letterBox .inputMin {
    margin: 0 20px;
    width: 130px;
  }
}

/* - chatBox */

/* + map */

.mapPanel {
  position: fixed;
  bottom: 80px;
  right: 90px;
  background: #fff;
  width: 340px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  padding: 20px 55px 30px;
}

.mapPanel h3 {
  margin-top: 15px;
}

.mapPanel .roundSi {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #C4C4C4;
  margin-right: 20px;
}

.mapPanel .roundSi.yellow {
  background-color: #F3B63B;
}

.mapPanel .roundSi.black {
  background-color: #4F4E5D;
}

.mapPanel .statusInfo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.mapPanel .statusInfo-item:last-child {
  margin-bottom: 0;
}

/* - map */

/* + driverCard */

.close.abs {
  position: absolute;
  right: 90px;
  top: 77px;
}

@media screen and (max-width: 1800px) {
  .close.abs {
    right: 30px;
    top: 30px;
  }
}

.driverCard .avatar {
  width: 220px;
  height: 220px;
  display: block;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.driverCard .titleBlock {
  margin-bottom: 40px;
}

.driverCard h2 {
  font-family: "Montserrat-Black";
}

.driverCard .yellowBox-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.driverCard .dcLeft {
  display: table;
  margin: auto;
  position: relative;
}

.infoPerson {
  display: flex;
  flex-wrap: wrap;
}

.infoPerson .infoPerson-item {
  width: 50%;
  max-width: 220px;
  margin-bottom: 30px;
}

.infoPerson .infoPerson-item:nth-child(even) {
  padding-left: 30px;
}

.infoPerson .titleIp {
  color: #4F4E5D;
  margin-bottom: 10px;
  font-size: 12px;
}

.infoPerson .textIp {
  color: #4A4A4A;
}

@media screen and (max-width: 1500px) {
  .popupCt {
    width: calc(100% - 200px);
  }

  .popupCt .avatar {
    width: 180px;
    height: 180px;
  }

  .popupCt .titleBlock {
    margin-bottom: 30px;
  }

  .driverCard .yellowBox-wrap {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1025px) {
  .close.abs {
    position: absolute;
    right: 40px;
  }

  .driverCard .yellowBox {
    width: 115px;
    height: 100px;
    margin: 0 5px;
    line-height: 1.3;
    font-size: 12px;
    padding: 10px;
  }

  .ratingDc .ratingLine li {
    width: 30px;
    height: 20px;
  }

  .popupCt .avatar {
    width: 120px;
    height: 120px;
  }

  .popupCt .titleBlock {
    font-size: 20px;
  }
}

/* - driverCard */

/* + newOrder */

.inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.inputBox .input-wrap {
  width: calc(50% - 15px);
  margin-bottom: 34px;
}

.inputBox .textarea-wrap {
  height: 60px;
}

.inputBox .textarea-wrap .textarea {
  height: 154px;
}

@media screen and (max-width: 1200px) {
  .inputBox .input-wrap {
    width: calc(50% - 5px);
    margin-bottom: 25px;
  }

  .inputBox .textarea-wrap .textarea {
    height: 146px;
  }
}

@media screen and (max-width: 1025px) {
  .inputBox .input-wrap .input {
    font-size: 12px;
    padding: 22px 10px;
  }

  .inputBox .textarea-wrap .textarea {
    padding: 20px 10px;
    font-size: 12px;
  }

  .inputBox .select-wrap .select2-container--default .select2-selection--single {
    padding: 16px 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1025px) {
  .newOrder .right.indent {
    margin-bottom: 20px;
  }

  .formCb > .indent {
    margin-bottom: 20px;
  }
}

.table-wrap.pc {
  padding-top: 10px;
  padding-bottom: 0;
  height: auto;
}

.table-wrap.pc:before {
  top: 0;
  height: 100%;
}

.table-wrap.pc .scroll {
  min-height: 131px;
  height: 131px;
  padding-bottom: 10px;
}

.table-wrap.pc .table {
  min-width: 700px;
}

.newOrder .col-v10,
.newOrder .col-v9,
.newOrder .col-v8,
.newOrder .col-v7,
.newOrder .col-v6,
.newOrder .col-v5,
.newOrder .col-v4,
.newOrder .col-v3,
.newOrder .col-v2,
.newOrder .col-v1 {
  padding-right: 30px;
}

@media screen and (max-width: 1200px) {
  .newOrder .col-v10,
  .newOrder .col-v9,
  .newOrder .col-v8,
  .newOrder .col-v7,
  .newOrder .col-v6,
  .newOrder .col-v5,
  .newOrder .col-v4,
  .newOrder .col-v3,
  .newOrder .col-v2,
  .newOrder .col-v1 {
    padding-right: 10px;
  }
}

.newOrder .blackLink.indent {
  margin-right: 40px;
}

.newOrder .mapBox {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 342px;
  margin-bottom: 34px;
}

.newOrder .parameterBox {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  height: 141px;
  padding: 10px 0px 10px 20px;
}

.newOrder .parameterBox .checkedBtn {
  display: table;
  margin-bottom: 15px;
}

.newOrder .parameterBox .checkedBtn:last-child {
  margin-bottom: 0;
}

.newOrder .newOrder__from {
  margin-top: 60px;
}

.newOrder .right.indent {
  margin-top: 60px;
}

@media screen and (max-width: 1200px) {
  .newOrder .mapBox {
    height: 316px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 900px) {
  .newOrder .newOrder__from {
    margin-top: 40px;
  }

  .newOrder .right.indent {
    margin-top: 40px;
  }
}

/* -newOrder */

/* + complaintBox */

.complaintBox .m0 {
  margin-bottom: 0;
  margin-top: 10px;
}

.formCb {
  max-width: 725px;
  margin: auto;
  margin-top: 60px;
}

.formCb .textarea-wrap {
  height: 150px;
  margin-bottom: 80px;
}

.formCb .table-wrap.pc .scroll {
  max-height: 167px;
}

@media screen and (max-height: 900px) {
  .formCb {
    margin-top: 30px;
  }

  .formCb .textarea-wrap {
    height: 120px;
    margin-bottom: 30px;
  }

  .formCb .table-wrap.pc .scroll {
    max-height: 131px;
  }
}

.tableResult {
  padding: 20px 20px;
  margin: 34px 0;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  color: #95959e;
}

@media screen and (max-height: 900px) {
  .tableResult {
    margin: 20px 0;
  }
}

/* - complaintBox */

/* --- operator */

/* + testMenu */

.testMenu {
  padding: 30px 20px;
}

.testMenu a {
  display: inline-block;
  font-size: 15px;
  margin: 10px 20px;
  text-transform: uppercase;
}

/* - testMenu */

