<template>
    <form @submit.prevent="authenticate">
        <label for="email">Email:</label>
        <input type="email" id="email" v-model="form.email" placeholder="Email">

        <label for="password">Password:</label>
        <input type="password" id="password" v-model="form.password" placeholder="Password">

        <input type="submit" value="Login">

    </form>
</template>

<script>
    import {login} from '../../helpers/auth';

    export default {
        name: "login",
        data() {
            return {
                form: {
                    email: '',
                    password: ''
                },
                error: null
            }
        },
        methods: {
            authenticate() {
                this.$store.dispatch('login');

                login(this.$data.form)
                    .then(res => {
                        this.$store.commit("loginSuccess", res);
                        this.$router.push({name: "orders"});
                    })
                    .catch(error => {
                        this.$store.commit("loginFailed", {error});
                    })
            }
        }
    }
</script>

<style scoped>

</style>