.btn{
  background-color: $yellowe;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  font-size: 16px;
  font-family: $f3;
  text-align: center;
  color: $black;
  padding: 25px;
  display: inline-block;
  vertical-align: middle;
  transition: $time;
  &.min{
    padding: 22px 25px;
    line-height: 1;
  }
  &:hover{
    background-color: $yellowe2;
  }
  &.clean{
    background-color: transparent;
    &:hover{
      opacity: 0.8;
    }
  }
  &.black{
    background-color: #000;
    &:hover{
      background-color: $black;
    }
  }
  &.grey{
    background-color: $grey2;
    &:hover{
      background-color: $grey3;
    }
  }
  svg{
    display: block;
  }
}
.close{
  width: 34px;
  height: 34px;
  background-image: url("../img/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  background-color: transparent;
  border: 0;
  padding: 0;
  box-shadow: none;
  transition: $time;
  &:hover{
    opacity: 0.8;
  }
}

.audioBtn{
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid $yellowe;
  display: block;
  position: relative;
  &:before{
    content: '';
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 11px solid $black;
    border-bottom: 6px solid transparent;
    position: absolute;
    top: 0;
    left: 2px;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  &.pause{
    &:before{
      border: 0;
      width: 9px;
      height: 11px;
      left: 0;
      background-color: $black;
    }
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 3px;
      height: 11px;
      background-color: #fff;
    }
  }
}