/* + loader */
.loader-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245,245,245,0.9);
  z-index: 100;
  .loader {
    width: 14px;
    height: 14px;
    position: relative;
    animation: loader 1s ease infinite;
    top: 50%;
    margin: -30px auto 0 auto;
  }

}
@keyframes loader {
  0%, 100% {
    box-shadow: -10px 15px 0 $yellowe, 10px 15px 0 rgba(79, 78, 93, 1), 10px 36px 0 rgba(79, 78, 93, 1), -10px 36px 0 rgba(79, 78, 93, 1); }
  25% {
    box-shadow: -10px 15px 0 rgba(79, 78, 93, 1), 10px 15px 0 $yellowe, 10px 36px 0 rgba(79, 78, 93, 1), -10px 36px 0 rgba(79, 78, 93, 1); }
  50% {
    box-shadow: -10px 15px 0 rgba(79, 78, 93, 1), 10px 15px 0 rgba(79, 78, 93, 1), 10px 36px 0 $yellowe, -10px 36px 0 rgba(79, 78, 93, 1); }
  75% {
    box-shadow: -10px 15px 0 rgba(79, 78, 93, 1), 10px 15px 0 rgba(79, 78, 93, 1), 10px 36px 0 rgba(79, 78, 93, 1), -10px 36px 0 $yellowe; }
}
/* - loader */
/* + fancybox */
.fancybox-overlay {
  background-image:none;
  background-color: rgba(245,245,245,0.9);
}
#fancybox-loading, .fancybox-close, .fancybox-next span, .fancybox-prev span {
  background-image: url(../img/fancybox_sprite.png);
}
.fancybox-skin{
  padding: 0 !important;
}
.fancybox-opened .fancybox-skin{
  box-shadow: $shadow;
}
.fancybox-close {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 34px;
  height: 34px;
  background-image: url(../img/cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fancybox-prev span{
  transform: rotate(180deg);
}
.fancybox-next span, .fancybox-prev span {
  background-image: url(../img/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  width: 32px;
  height: 32px;
  border: 1px solid #333;
  border-radius: 100%;
  display: block;
  background-position: 47% center;
}
.fancybox-nav span {
  visibility: visible;
}
.fancybox-prev {
  left: -70px;
  width: 70px;
  opacity: 1;

}
.fancybox-next {
  right: -70px;
  width: 70px;
  opacity: 1;

}
.fancybox-inner,.fancybox-outer, .fancybox-wrap {
  max-width: 80vw;
}
/* - fancybox */



/* + avatar */
.avatar{
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-image: url("../img/ava.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  &.min{
    width: 40px;
    height: 40px;
  }
}
/* - avatar */

/* + messagesBox */
.messagesBox{
  background-color: $yellowe;
  width: 20px;
  height: 15px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  &:before{
    content: '';
    width: 0;
    height: 0;
    border-top: 4px solid $yellowe;
    border-right: 4px solid transparent;
    position: absolute;
    top: 100%;
    left: 4px;
    display: block;
  }
}
/* - messagesBox */

/* + photoAuto */
.photoAuto{
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  vertical-align: middle;
  margin-right: 20px;
  background-color: $yellowe;
  position: relative;
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
    object-fit: cover;
  }
  &:last-child{
    margin-right: 0;
  }
  .countPhoto{
    z-index: 3;
    span{
      max-width: 24px;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
/* - photoAuto */

/* + ratingDc */
.ratingDc{
  .ratingLine{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    li{
      list-style-type: none;
      display: inline-block;
      vertical-align: bottom;
      width: 44px;
      height: 20px;
      background-color: $yellowe;
      &:nth-child(4){
        height: 18px;
        opacity: 0.9;
      }
      &:nth-child(3){
        height: 16px;
        opacity: 0.75;
      }
      &:nth-child(2){
        height: 14px;
        opacity: 0.5;
      }
      &:nth-child(1){
        height: 12px;
        opacity: 0.25;
      }
    }
  }

}
.tegRl{
  width: 2px;
  height: 25px;
  background-color: $black;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.ratingLine-element{
  position: relative;
  display: table;
}
/* - ratingDc */

/* + yellowBox */
.yellowBox{
  background-color: $yellowe;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 2;
  font-family: $f3;
  width: 220px;
  height: 180px;
  margin: 0 30px 0 0;
  padding: 20px 30px;
  text-align: center;
  box-shadow: $shadow;
  @media screen and (max-width: 1500px){
    font-size: 14px;
    width: 160px;
    height: 120px;
    padding: 15px;
  }
}
/* - yellowBox */