h1{
  font-family: $f5;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0 0 20px;
  color: $black3;
}
h2{
  font-family: $f5;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0 0 20px;
  color: $black3;
}
h3{
  font-family: $f2;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  margin: 0 0 20px;
  color: $black3;
}
h4{
  font-size: 14px;
  line-height: 1.4;
  font-weight: normal;
  margin: 0 0 20px;
  color: $black3;
}
h5{
  font-size: 12px;
  font-family: $f3;
  line-height: 1.4;
  margin: 0 0 20px;
  color: $black3;
}
h6{
  font-size: 12px;
  line-height: 1.4;
  margin: 0 0 20px;
  color: $black3;
}
p{
  line-height: 1.4;
  margin: 0;
  color: $black3;
}
a{
  cursor: pointer;
  text-decoration: none;
  transition: $time;
  color: $black;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  &:hover{
    opacity: 0.8;
  }
}
.smallText, .smallLink{
  font-size: 12px;
}
.text{
  font-size: 14px;
}
.titleBlock{
  font-family: $f4;
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
  .text{
    display: block;
    font-family: $f1;
    font-size: 14px;
    margin-top: 10px;
  }
}
.doteLink{
  font-size: 16px;
  font-family: $f2;
  border-bottom: 1px dashed $black2;
  &:hover{
    border-color: transparent;
  }
}
.blackLink,
.blackText{
  font-size: 16px;
  font-family: $f2;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  &.indentR {
    margin-right: 40px;
  }
}
.borderLink{
  color: $grey3;
  border-bottom: 1px solid $grey3;
  &:hover{
    border-color: transparent;
  }
}


.detailLink{
  width: 32px;
  height: 32px;
  border: 1px solid $yellowe;
  border-radius: 100%;
  color: $black3;
  font-size: 0;
  background-image: url("../img/arrow.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: 47% center;
  display: block;
  background-color: transparent;
}

.openLink{
  width: 32px;
  height: 32px;
  border: 1px solid $yellowe;
  border-radius: 100%;
  color: $black3;
  font-size: 0;
  background-image: url("../img/arrow.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: 47% center;
  display: inline-block;
  transform: rotate(90deg);
  background-color: transparent;
  &.active{
    transform: rotate(-90deg);
    border-color: $black3;
    background-image: url("../img/arrow2.svg");
  }
}
tr.open{
  .openLink{
    transform: rotate(-90deg);
    border-color: $black3;
    background-image: url("../img/arrow2.svg");
  }
}