.ic{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.ic-pint{
  background-image: url("../img/point.svg");
}
.ic-user{
  background-image: url("../img/user-ic.svg");
}