input{
  outline: none;
}
.inputReg{
  text-align: left;
  p{
    margin: 0 0 5px;
    line-height: 1.4;
  }
  input{
    border: 0;
    font-size: 14px;
    border-bottom: 2px solid $border;
    height: 40px;
    color: $black;
    padding-left: 0px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: $time;
    width: 100%;
    &:hover{
      border-color:  $grey2;
    }
    &:focus-within{
      border-color:  $yellowe;
    }
    &.fill{
      border-color:  $yellowe;
    }
  }
  &.error{
    input{
      border-bottom: 2px solid $red;
      color: $red;
    }
  }
}
textarea{
  &::-webkit-input-placeholder {color: $grey2;transition: $time;}
  &::-moz-placeholder          {color: $grey2;transition: $time;}
  &:-moz-placeholder           {color: $grey2;transition: $time;}
  &:-ms-input-placeholder      {color: $grey2;transition: $time;}
}
.textarea {
  width: 100%;
  height: 100%;
  border: 0;
  box-shadow: $shadow;
  padding: 20px 30px;
  resize: none;
  font-size: 14px;
  font-family: $f1;
  &::-webkit-input-placeholder {color: $grey3;transition: $time;}
  &::-moz-placeholder          {color: $grey3;transition: $time;}
  &:-moz-placeholder           {color: $grey3;transition: $time;}
  &:-ms-input-placeholder      {color: $grey3;transition: $time;}
  &:hover{
    &::-webkit-input-placeholder {color: $black}
    &::-moz-placeholder          {color: $black}
    &:-moz-placeholder           {color: $black}
    &:-ms-input-placeholder      {color: $black}
  }
}
.input{
  font-size: 14px;
  color: $black;
  width: 100%;
  height: 100%;
  padding: 22px 20px;
  border: 0;
  box-shadow: $shadow;
  &.error{
    border-bottom: 2px solid $red;
    outline-offset: -2px;
    color: $red;
    padding-bottom: 20px;
  }

  &::-webkit-input-placeholder {color: $grey3;transition: $time;}
  &::-moz-placeholder          {color: $grey3;transition: $time;}
  &:-moz-placeholder           {color: $grey3;transition: $time;}
  &:-ms-input-placeholder      {color: $grey3;transition: $time;}
  &:hover{
    &::-webkit-input-placeholder {color: $black}
    &::-moz-placeholder          {color: $black}
    &:-moz-placeholder           {color: $black}
    &:-ms-input-placeholder      {color: $black}
  }
  &.min{
    padding: 5px 10px;
  }
}
.input-wrap{
  position: relative;

}
.tipSelect{
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #fff;
  display: none;
  border: 1px solid $border;
  border-top: 0px;
  z-index: 5;
  &.active{
    display: block;
  }
  .tipSelect__item{
    padding: 10px 20px;
    display: block;
    &:hover{
      background-color: $grey;
    }

  }
}

.inputMin{
  height: 33px;
  background-color: $grey;
  border: 1px solid $border;
  padding: 0 11px;
  color: $black2;
}



