
/* + popup */
.popup-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.9);
  .blackLink.indentLeft{
    margin-left: 30px;
    @media screen and (max-width: 767px) {
      margin-left: 0px;
    }
  }
  &.active{
    display: block;
  }
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .popup {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 20px);
    max-width: 624px;
    background: #fff;
    padding: 70px 95px 100px;
    box-sizing: border-box;
    border: 1px solid $border;
    text-align: center;
  }
  .inputReg {
    margin-bottom: 40px;
  }
  .btn {
    &.enter{
      width: 190px;
    }
  }
  .redText{
    span{
      display: inline-block;
      vertical-align: middle;
    }
  }
  .flex2.indent{
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .titleBlock{
    margin-bottom: 100px;
    &.indent{
      margin-bottom: 40px;
    }
  }
  .popup-call{
    display: inline-block;
    vertical-align: middle;
  }
  .itemBtn{
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px;
    .btn{
      margin-bottom: 35px;
    }
  }
  .note{
    position: absolute;
    bottom: 60px;
    left: 100px;
    font-size: 12px;
    line-height: 26px;
    max-width: 485px;
    text-align: left;
  }
  .userPw{
    margin-bottom: 70px;
    .blackText{
      margin-bottom: 10px;
    }
  }
  @media screen and (max-height: 1024px) {
    .popup-call{
      margin-bottom: 50px;
    }
    .note{
      bottom: 30px;
      left: 70px;
    }
    .userPw {
      margin-bottom: 50px;
    }
    .itemBtn .btn {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-height: 800px) {
    .popup{
      padding-top: 50px;
      padding-bottom: 70px;
    }

    .titleBlock {
      margin-bottom: 60px;
    }
    .inputReg {
      margin-bottom: 30px;
    }
    .flex2.indent {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }


}
/* - popup */


/* + popupCt */
.popupCt{
  position: fixed;
  height: 100vh;
  right: 0;
  top: 0;
  width: calc(100% - 260px);
  background: #fff;
  z-index: 10;
  padding: 60px 0;
  display: none;
  overflow: auto;
  &.flex{
    align-items: center;
    justify-content: center;
    &.active{
      display: flex;
    }
  }
  &.active{
    display: block;
  }
  .wrap{
    max-width: 1290px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0 30px;
  }
  @media screen and (max-height: 900px){
    padding: 40px 0;
  }
  @media screen and (max-width: 1200px){
    .doteLink {
      font-size: 12px;
    }


  }
}
/* - popupCt */
