.radioBtn{
  display: inline-block;
  vertical-align: middle;
  &.border{
    label span{
      border: 1px solid $grey3;
    }
  }
  &.large{
    label{
      span{
        width: 20px;
        height: 20px;

      }
    }
    input:checked ~ label span{
      &:before{
        width: 10px;
        height: 10px;
      }
    }
  }
  input{
    display: none;
  }
  label{
    display: flex;
    align-items: center;
    span{
      width: 12px;
      height: 12px;
      background-color: #fff;
      border-radius: 100%;
      display: inline-block;
      margin-right: 10px;
    }
  }
  input:checked ~ label span{
    background-color: #fff;
    border: 1px solid $black2;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: $black2;
    }
  }
}

.checkedBtn{
  display: inline-block;
  vertical-align: middle;
  &.br{
    label span{
      width: 18px;
      height: 18px;
      background-color: $grey;
      border: 1px solid $border;
    }
  }
  input{
    display: none;
  }
  label{
    display: flex;
    align-items: center;
    span{
      width: 12px;
      height: 12px;
      background-color: #fff;
      display: inline-block;
      margin-right: 10px;
      position: relative;
    }
  }
  input:checked ~ label span{

    &:before{
      content: '';
      position: absolute;
      width: 3px;
      height: 8px;
      top: 0;
      bottom: 3px;
      left: 0;
      right: 0;
      margin: auto;
      border-top: 2px solid;
      border-left: 2px solid;

      border-color: $black2;
      transform: rotate(-135deg);
    }
  }
}