body{
  font-family: $f1;
  margin: 0;
  font-size: 14px;
}
*{
  box-sizing: border-box;
  outline: none;
}
button{
  outline: none;
  cursor: pointer;
}
img{
  width: 100%;
}

.flex1{
  display: flex;
}
.flex2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex4{
  display: flex;
  align-items: center;
}
.flex5{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex6{
  display: flex;
  flex-wrap: wrap;
}
.block{
  display: block;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.relative{
  position: relative;
}
.m0{
  margin: 0;
}

/* + ios */
input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
/* - ios */
/* + styleGuide */
.styleGuide {
  .fonSg {
    padding: 5px;
    background-color: rgba(4, 21, 19, 0.3);
  }
  textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    background: #4F4E5D;
    color: #fff;
    height: 150px;
    margin-top: 10px;
    display: block;
    &.indent {
      margin-top: 20px;
    }
  }
}
.iconSg i {
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
}
.boxSg {
  display: block;
  margin-bottom: 25px;

}
.styleGuide-menu {
  background-color: #4F4E5D;
  width: 320px;
  display: inline-block;
  vertical-align: top;
  padding: 20px 15px;
  min-height: 100vh;
  position: fixed;
}
.styleGuide-link {
  color: #fff;
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
}
.styleGuide-content {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 325px);
  padding: 20px 15px;
  margin-left: 320px;
  min-height: 100vh;
}
.styleGuide-item {
  display: none;
  &.active {
    display: block;
  }
}
/* - styleGuide */

/* + scrol */
::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 7px;
  height: 0px;
  position: absolute;
}
::-webkit-scrollbar-track {
  background-color: $grey;
  position: absolute;
}
::-webkit-scrollbar-thumb {
  position: absolute;
  border-radius: 0px;
  background-color: $yellowe;
  width: 7px;

}
::-webkit-resizer {
  background-repeat: no-repeat;
  width: 7px;
  height: 0px;
  position: absolute;
}
::-webkit-scrollbar {
  width: 7px;
  position: absolute;
}
.scroll{
  overflow: auto;
  width: 100%;
  height: 100%;

  &::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 10px;
    height: 0px;
    position: absolute;
  }
  &::-webkit-scrollbar-track {
    background-color: $border;
    position: absolute;
  }
  &::-webkit-scrollbar-thumb {
    position: absolute;
    background-color: $yellowe;
    box-shadow:none;
    height: 7px;
    border: 0px solid $yellowe;
  }
  &::-webkit-resizer {
    background-repeat: no-repeat;
    height: 7px;
    //height: 0px;
    position: absolute;
  }
  &::-webkit-scrollbar {
    height: 7px;
    position: absolute;
  }
}


/* - scrol */
