.select-wrap{
  .select{
    width: 100%;
  }
  .select2-container--default .select2-selection--single{
    border: 0;
    box-shadow: $shadow;
    border-radius: 0;
    padding: 16px 20px;
    font-size: 14px;
    height: auto;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0;
    bottom: 0;
    margin: auto;
    height: 10px;
    width: 10px;
    background-image: url("../img/arrow.svg");
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    right: 20px;
    b{
      display: none;
    }
  }
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
    transform: rotate(-90deg);
  }


}
.select2-dropdown{
  border: 1px solid $border;
  padding: 0;
  border-radius: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color: $black2;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: $grey;
  color: $black3;
}
.select2-search--dropdown{
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px 0;
}
.select2-results__option{
  color: $black3;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.select2-results__options{
  padding-top: 10px;
  padding-bottom: 20px;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 0;
  color: $grey3;
}
.select2.select2-container.select2-container--default{
  width: 100% !important;
}