
.table-wrap {
  padding-bottom: 10px;
  position: relative;
  .scroll{
    min-height: calc(100vh - 230px);
    &.ha{
      min-height: auto;
    }
  }
  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: $shadow;
    background-color: #fff;
    height: calc(100% - 24px);
    display: block;
    width: 100%;
    z-index: -1;
  }
}
.table{
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  min-width: 1095px;
  thead{
    padding: 0 15px;
  }
  tbody{

    tr{
      border-bottom: 1px solid $border;
      &:last-child{
        border-bottom: 0;
      }
      &.open + .accordion-item{
        display: table-row;
      }
    }
  }
  td,th{
    &:first-child{
      padding-left: 20px;
    }
  }
  th{
    padding: 0 5px 7px;
    font-size: 12px;
    font-weight: normal;
    color: $black;
  }
  td {
    padding: 9px 5px;
    font-size: 12px;
    color: $black3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .thPhone{
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .audioBtn, .detailLink{
    margin: auto ;
  }
  .messagesBox{
    margin-left: 5px;
    margin-bottom: 11px;
  }

  .accordion-item{
    display: none;
    &.active{
      display: table-row;
    }

  }
  .photoAuto-wrap{
    width: 57%;
  }
  .accordion-r{
    width: 43%;
    word-wrap: break-word;
    white-space: initial;
  }
}




