<template>
    <div>

        <button class="settingBtn" @click="toggleActive">
            <svg width="100%" height="100%" viewBox="0 0 33 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1" fill="white">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M32.1619 4H28.0618C27.5986 1.71776 25.5808 0 23.1619 0C20.7429 0 18.7252 1.71776 18.2619 4H0.161865V6H18.2619C18.7252 8.28224 20.7429 10 23.1619 10C25.5808 10 27.5986 8.28224 28.0618 6H32.1619V4ZM6.26188 19H0.161865V21H6.26188C6.72515 23.2822 8.74291 25 11.1619 25C13.5808 25 15.5986 23.2822 16.0618 21H32.1619V19H16.0618C15.5986 16.7178 13.5808 15 11.1619 15C8.74291 15 6.72515 16.7178 6.26188 19Z"/>
                </mask>
                <path class="fill-yellow"
                      d="M28.0618 4L26.1018 4.39786L26.427 6H28.0618V4ZM32.1619 4H34.1619V2H32.1619V4ZM18.2619 4V6H19.8967L20.2219 4.39786L18.2619 4ZM0.161865 4V2H-1.83813V4H0.161865ZM0.161865 6H-1.83813V8H0.161865V6ZM18.2619 6L20.2219 5.60214L19.8967 4H18.2619V6ZM28.0618 6V4H26.427L26.1018 5.60214L28.0618 6ZM32.1619 6V8H34.1619V6H32.1619ZM0.161865 19V17H-1.83813V19H0.161865ZM6.26188 19V21H7.89669L8.22191 19.3979L6.26188 19ZM0.161865 21H-1.83813V23H0.161865V21ZM6.26188 21L8.22191 20.6021L7.89669 19H6.26188V21ZM16.0618 21V19H14.427L14.1018 20.6021L16.0618 21ZM32.1619 21V23H34.1619V21H32.1619ZM32.1619 19H34.1619V17H32.1619V19ZM16.0618 19L14.1018 19.3979L14.427 21H16.0618V19ZM28.0618 6H32.1619V2H28.0618V6ZM23.1619 2C24.6109 2 25.824 3.02936 26.1018 4.39786L30.0219 3.60214C29.3731 0.406158 26.5507 -2 23.1619 -2V2ZM20.2219 4.39786C20.4997 3.02936 21.7128 2 23.1619 2V-2C19.773 -2 16.9506 0.406158 16.3019 3.60214L20.2219 4.39786ZM0.161865 6H18.2619V2H0.161865V6ZM2.16187 6V4H-1.83813V6H2.16187ZM18.2619 4H0.161865V8H18.2619V4ZM23.1619 8C21.7128 8 20.4997 6.97064 20.2219 5.60214L16.3019 6.39786C16.9506 9.59384 19.773 12 23.1619 12V8ZM26.1018 5.60214C25.824 6.97064 24.6109 8 23.1619 8V12C26.5507 12 29.3731 9.59384 30.0219 6.39786L26.1018 5.60214ZM32.1619 4H28.0618V8H32.1619V4ZM30.1619 4V6H34.1619V4H30.1619ZM0.161865 21H6.26188V17H0.161865V21ZM2.16187 21V19H-1.83813V21H2.16187ZM6.26188 19H0.161865V23H6.26188V19ZM11.1619 23C9.71282 23 8.4997 21.9706 8.22191 20.6021L4.30186 21.3979C4.95061 24.5938 7.773 27 11.1619 27V23ZM14.1018 20.6021C13.824 21.9706 12.6109 23 11.1619 23V27C14.5507 27 17.3731 24.5938 18.0219 21.3979L14.1018 20.6021ZM32.1619 19H16.0618V23H32.1619V19ZM30.1619 19V21H34.1619V19H30.1619ZM16.0618 21H32.1619V17H16.0618V21ZM11.1619 17C12.6109 17 13.824 18.0294 14.1018 19.3979L18.0219 18.6021C17.3731 15.4062 14.5507 13 11.1619 13V17ZM8.22191 19.3979C8.4997 18.0294 9.71282 17 11.1619 17V13C7.773 13 4.95061 15.4062 4.30186 18.6021L8.22191 19.3979Z"
                      fill="#4F4E5D" mask="url(#path-1-inside-1)"/>
            </svg>
        </button>

        <div class="filterMenu animated fadeIn">
            <div class="scroll">
                <div class="line">
                    <div class="row-wrap grid1 middle">
                        <div class="col-v1">
                            <div class="radioBtn">
                                <input id="fl1" type="radio" name="fl" @click="setActiveFilterPerHour">
                                <label for="fl1"><span></span>За час</label>
                            </div>
                        </div>
                        <div class="col-v1">
                            <div class="radioBtn">
                                <input id="fl2" type="radio" name="fl" @click="setActiveFilterPerToday">
                                <label for="fl2"><span></span>За сегодня</label>
                            </div>
                        </div>
                        <div class="col-v1">
                            <div class="radioBtn">
                                <input id="fl3" type="radio" name="fl" @click="setActiveFilterPerWeek">
                                <label for="fl3"><span></span>За неделю</label>
                            </div>
                        </div>
                        <div class="col-v1">
                            <div class="radioBtn">
                                <input id="fl4" type="radio" name="fl" @click="setActiveFilterPerPeriod">
                                <label for="fl4"><span></span>Период</label>
                            </div>
                        </div>
                        <div class="col-v2" v-show="isActiveFilterPeriod">
                            <div class="period-item">
                                <span>с</span><input class="input min" type="date"
                                                     :value="getFilterPeriodSettings.date_from"
                                                     @keyup="updateFilterByPeriodDateFrom">
                            </div>
                        </div>
                        <div class="col-v2" v-show="isActiveFilterPeriod">
                            <div class="period-item">
                                <span>по</span><input class="input min" type="date"
                                                      :value="getFilterPeriodSettings.date_to"
                                                      @keyup="updateFilterByPeriodDateTo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="row-wrap grid1 middle">
                        <div class="col-v1"><p class="blackText">Источник:</p></div>
                        <div class="col-v1">
                            <div class="checkedBtn">
                                <input id="cb1" type="checkbox" name="c1">
                                <label for="cb1"><span></span>Сайт</label>
                            </div>
                        </div>
                        <div class="col-v1">
                            <div class="checkedBtn">
                                <input id="cb2" type="checkbox" name="c1">
                                <label for="cb2"><span></span>Приложение</label>
                            </div>
                        </div>
                        <div class="col-v1">
                            <div class="checkedBtn">
                                <input id="cb3" type="checkbox" name="c1">
                                <label for="cb3"><span></span>Диспетчер</label>
                            </div>
                        </div>
                        <div class="col-v2">
                            <div class="period-item"><input placeholder="Позывной" class="input min indent" type="text"></div>
                        </div>
                        <div class="col-v3">
                            <a href="#" class="blackLink indent" @click="unsetAllFilters">Сбросить</a>
                            <a href="#" class="blackLink" @click="$emit('applyfilter')">Применить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "Filters",
        data() {
            return {
                filters: {
                    nickname: '', // Позывной
                    period: {
                        date_from: '',
                        date_to: ''
                    }
                }
            }
        },
        methods: {
            toggleActive() {
                const filterMenu = document.getElementsByClassName('filterMenu');
                const settingBtn = document.getElementsByClassName('settingBtn');
                filterMenu[0].classList.toggle('active');
                settingBtn[0].classList.toggle('active');
            },
            unsetAllFilters() {
                this.$store.commit("unsetAllFilters");
            },
            setActiveFilterPerHour() {
                this.$store.commit("setActiveFilterPerHour");
            },
            setActiveFilterPerToday() {
                this.$store.commit("setActiveFilterPerToday");
            },
            setActiveFilterPerWeek() {
                this.$store.commit("setActiveFilterPerWeek");
            },
            setActiveFilterPerPeriod() {
                this.$store.commit("setActiveFilterPerPeriod");
            },
            updateFilterByPeriodDateFrom(event) {
                this.$store.commit("updateFilterByPeriodDateFrom", {date_from: event.target.value});
            },
            updateFilterByPeriodDateTo(event) {
                this.$store.commit("updateFilterByPeriodDateTo", {date_to: event.target.value});
            }
        },
        computed:{
            isActiveFilterPerHour() {
                return this.$store.getters.isActiveFilterPerHour;
            },
            isActiveFilterPerToday() {
                return this.$store.getters.isActiveFilterPerToday;
            },
            isActiveFilterPerWeek() {
                return this.$store.getters.isActiveFilterPerWeek;
            },
            isActiveFilterPeriod() {
                return this.$store.getters.isActiveFilterPeriod;
            },
            getFilterPeriodSettings() {
                return this.$store.getters.getFilterPeriodSettings;
            }
        },
        created() {
            this.filters.period.date_from = this.getFilterPeriodSettings.date_from;
            this.filters.period.date_to = this.getFilterPeriodSettings.date_to;
        }
    }
</script>

<style scoped>

</style>