<template>
    <div class="headerLb">
        <div class="row-wrap middle">
            <div class="col-v7">
                <ul class="menuHlb">
                    <li><a href="#">{{ getTextCountToday }}</a></li>
                    <li><a href="#">{{ getTextCountDriversOnline }}</a></li>
                    <li><a href="#">{{ getTextCountSuccessOrderToday }}</a></li>
                    <li><a href="#">{{ getTextCountCancelledOrderToday }}</a></li>
                </ul>
            </div>
            <div class="col-v3">
                <div class="flex2">
                    <a class="cityLink-wrap">
                        <i class="ic ic-pint"></i>
                        <span class="cityLink">Санкт-Петербург</span>
                    </a>
                    <a class="userLink-wrap">
                        <i class="ic ic-user"></i>
                        <template v-if="!currentUser">
                            <span class="userLink" @click="login">Войти</span>
                        </template>
                        <template v-else>
                            <span class="userLink" @click="logout">Выйти</span>
                        </template>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "header-component",
        data() {
            return {
                order_count: 0,
                drivers_online_count: 0,
                order_count_success: 0,
                order_count_cancelled: 0,
            }
        },
        methods: {
            login() {
                this.$store.commit('changeActiveLoginModal', {flag: true})
            },
            logout() {
                this.$store.commit('logout');
            },
            runListenSocketAction() {

                let context = this;

                Event.listen('getCountDriversOnline', function (response) {
                    context.drivers_online_count = response.data.count_drivers_online;
                });

                Event.listen('getCountOrdersPerToday', function (response) {
                    context.order_count = response.data.count_orders_per_today;
                });

                Event.listen('authDriver', function (response) {
                    context.drivers_online_count = response.data.count_drivers_online;
                });

                Event.listen('unAuthDriver', function (response) {
                    context.drivers_online_count = response.data.count_drivers_online;
                });

            }
        },
        computed:{
            currentUser() {
                return this.$store.getters.currentUser;
            },
            getTextCountToday() {
                return `Текущие заказы за сегодня: ${this.order_count}`;
            },
            getTextCountDriversOnline() {
                return `Водителей онлайн: ${this.drivers_online_count}`;
            },
            getTextCountSuccessOrderToday() {
                return `Выполненных сегодня заказов: ${this.order_count_success}`;
            },
            getTextCountCancelledOrderToday() {
                return `Отмененных сегодня заказов: ${this.order_count_cancelled}`;
            },
            getRootVueIsReady() {
                return this.$store.getters.getRootVueIsReady;
            }

        },
        created() {
            // После того, как будет установлено содинение, мы запрашиваем нужные данные
            Event.listen('socket-connection-success', function () {

                window.ws.send(JSON.stringify({
                    method: 'getCountOrdersPerToday'
                }));

                window.ws.send(JSON.stringify({
                    method: 'getCountDriversOnline'
                }));

            });

            this.runListenSocketAction();
        },
    }
</script>

<style scoped>

</style>