<template>
    <div v-show="isActive">
        <slot>

        </slot>
    </div>
</template>

<script>
    export default {
        name: "Tab",
        data() {
            return {
                isActive: false
            }
        },
        props: {
            name: {
                required: true
            },
            selected: {
                default: false
            },
            alias: {
                required: true,
                default: 'unknown'
            }
        },
        mounted() {
            this.isActive = this.selected;
        }
    }
</script>

<style scoped>

</style>