<template>
    <div class="tabBox">
        <div class="tabMenu">
            <div class="flex2">

                <div class="tabMenu-wrap">
                    <a class="linkTab" :class="{ 'active': tab.isActive }" v-for="tab in tabs" @click="selectTab(tab)">
                        {{ tab.name }}
                    </a>
                </div>

                <filters-component @applyfilter="$emit('applyfilter')">

                </filters-component>
            </div>
        </div>

        <div class="tabContent">
            <slot>

            </slot>
        </div>
    </div>
</template>

<script>
    import Filters_component from "./Filters";

    export default {
        name: "Tabs",
        data(){
            return {
                tabs: []
            }
        },
        methods:{
            selectTab(selectedTab) {
                this.tabs.forEach(tab => {
                    tab.isActive = (tab.name === selectedTab.name);
                    if(tab.isActive) this.$emit('setactivetab', {tab_alias: tab.alias});
                })
            }
        },
        created() {
            this.tabs = this.$children;
        },
        components: {
            'filters-component': Filters_component
        }
    }
</script>

<style scoped>

</style>