<template>
    <div id="driver_popup" class="popupCt animated fadeIn flex" :class="{active: isactive}">
        <div class="driverCard">
            <button class="close abs"
                    @click="$store.commit('changeActiveCardDriverModal', {flag: false})">

            </button>
            <div class="wrap">
                <div class="row-wrap">
                    <div class="col-v5 col-t4">
                        <div class="dcLeft">
                            <div class="avatar"><img :src="driver.avatar_url" alt=""></div>
                            <div class="ratingDc">
                                <h2>{{ 'Рейтинг ' + driver.rating }}</h2>
                                <div class="ratingLine-element">
                                    <span style="left: 70%" class="tegRl"></span>
                                    <ul class="ratingLine">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-v5 col-t6">
                        <p class="titleBlock">{{ driver.full_name }}</p>
                        <div class="infoPerson">
                            <div class="infoPerson-item">
                                <p class="titleIp">Автомобиль</p>
                                <p class="textIp">{{ driver.auto_type }}</p>
                            </div>
                            <div class="infoPerson-item">
                                <p class="titleIp">Цвет</p>
                                <p class="textIp">{{ driver.color }}</p>
                            </div>

                            <div class="infoPerson-item">
                                <p class="titleIp">Марка автомобиля</p>
                                <p class="textIp">{{ driver.auto_mark }}</p>
                            </div>
                            <div class="infoPerson-item">
                                <p class="titleIp">Регистрационный номер</p>
                                <p class="textIp">{{ driver.plate_number }}</p>
                            </div>

                            <div class="infoPerson-item">
                                <p class="titleIp">Тариф</p>
                                <p class="textIp">{{ driver.tariff }}</p>
                            </div>
                            <div class="infoPerson-item">
                                <p class="titleIp">Дополнительно</p>
                                <p class="textIp">{{ driver.additional_info }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="yellowBox-wrap">
                    <div class="yellowBox">{{ getDaysInCompany }}</div>
                    <div class="yellowBox">{{ getTimeOnLine }}</div>
                    <div class="yellowBox">Оплаченный километраж: </div>
                    <div class="yellowBox">{{ success_orders_count }}</div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import {DateDiff} from "../../helpers/services";

    export default {
        name: "card-driver-modal",
        props: ['isactive'],
        data() {
            return {

            }
        },
        methods:{

        },
        computed: {
            driver() {
                return this.$store.getters['getDataForCardDriver'];
            },
            getDaysInCompany() {
                return `${DateDiff.inDays(new Date(), this.driver.created_at)} дней в компании`;
            },
            getTimeOnLine() {
                return `${DateDiff.inHours(new Date(), this.driver.created_at)} часов на линии`;
            },
            success_orders_count() {
                return `${this.driver.success_orders_count} выполненных заказов`;
            }
        }
    }
</script>

<style scoped>

</style>