<template>
    <div id="enter_popup" class="popup-wrap animated fadeIn" :class="{active: isactive}">
        <button class="close abs" @click="$store.commit('changeActiveLoginModal', {flag: false})"></button>
        <div class="popup">
            <p class="titleBlock">Вход</p>
            <div class="inputReg">
                <p>Ваш E-mail</p>
                <input type="text" required v-model="form.email">
            </div>
            <div class="inputReg">
                <p>Пароль</p>
                <input type="password" required v-model="form.password">
            </div>
            <div class="flex2 indent">
                <a href="#" class="blackLink indentLeft">Забыли пароль?</a>
                <a href="#" class="btn enter" @click="authenticate">Войти</a>
            </div>
        </div>
    </div>
</template>

<script>
    import {login} from '../../helpers/auth';

    export default {
        name: "login-modal",
        props: ['isactive'],
        data() {
            return {
                form: {
                    email: '',
                    password: ''
                },
                error: null
            }
        },
        methods: {
            authenticate() {
                let context = this;
                this.$store.dispatch('login');

                // Отправляем email/password на севрер
                login(this.$data.form);

                // Слушаем событие от сервера по web-socket-у
                Event.listen('authSuccess', function (response) {
                    context.$store.commit("loginSuccess", response.data);
                    context.$store.commit('changeActiveLoginModal', {flag: false});
                    context.$router.push({name: "orders"});
                })
            }
        }
    }
</script>

<style scoped>

</style>