<template>
    <div id="call_popup" class="popup-wrap animated fadeIn" :class="{active: isactive}">
        <div class="popup-call">
            <p class="titleBlock">Новый звонок</p>

            <div class="call-btn">
                <div class="itemBtn">
                    <a class="btn black">
                        <svg width="38" height="38" viewBox="0 0 39 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="fill-yellow"
                                  d="M19.213 0C8.73659 0 0.213013 8.52358 0.213013 19C0.213013 29.4764 8.73659 38 19.213 38C29.6894 38 38.213 29.4764 38.213 19C38.213 8.52358 29.6894 0 19.213 0ZM19.213 33.25C11.3558 33.25 4.96301 26.8572 4.96301 19C4.96301 16.0011 5.87219 13.1661 7.6009 10.747L27.466 30.6121C25.0469 32.3408 22.2119 33.25 19.213 33.25ZM30.8251 27.253L10.96 7.38788C13.3791 5.65918 16.2141 4.75 19.213 4.75C27.0702 4.75 33.463 11.1428 33.463 19C33.463 21.9989 32.5538 24.8339 30.8251 27.253Z"/>
                        </svg>
                    </a>
                    <p class="blackText">Отклонить</p>
                </div>
                <div class="itemBtn">
                    <a class="btn">
                        <svg width="38" height="38" viewBox="0 0 38 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="fill-black"
                                  d="M36.0186 0.838379L13.658 23.1988L1.98138 11.5223L0 13.5037L13.658 27.1615L38 2.81976L36.0186 0.838379Z" fill="black"/>
                        </svg>
                    </a>
                    <p class="blackText">Принять</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "new-call-modal",
        props: ['isactive'],
        data() {
            return {
                error: null
            }
        }
    }
</script>

<style scoped>

</style>