<template>
    <div id="complaint_popup" class="popupCt animated fadeIn" :class="{active: isactive}">
        <div class="complaintBox">
            <button class="close abs"></button>
            <div class="row-wrap middle">
                <div class="col-v2 right"><a class="doteLink" href="#">Вернуться к заказу</a></div>
                <div class="col-v6 center"><p class="titleBlock m0">Создание жалобы</p></div>
                <div class="col-v2"></div>
            </div>
            <form class="formCb" action="#">
                <div class="inputBox">
                    <div class="input-wrap"><input class="input phone" placeholder="Номер телефона" type="text" required></div>
                    <div class="input-wrap"><input class="input phone" placeholder="Указать другой номер телефона" type="text" required></div>
                </div>
                <div class="table-wrap pc">
                    <div class="scroll">
                        <table class="table t6">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Время</th>
                                <th>Откуда</th>
                                <th>Куда</th>
                                <th>Тариф</th>
                                <th>Исполнитель</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>465</td>
                                <td>12-05-2019 в 12:15</td>
                                <td>Барышникова, 12</td>
                                <td>Баранова, 56</td>
                                <td>Пикап-700 руб.</td>
                                <td>Зеленый Киа</td>
                            </tr>
                            <tr>
                                <td>465</td>
                                <td>12-05-2019 в 12:15</td>
                                <td>Барышникова, 12</td>
                                <td>Баранова, 56</td>
                                <td>Пикап-700 руб.</td>
                                <td>Зеленый Киа</td>
                            </tr>
                            <tr>
                                <td>465</td>
                                <td>12-05-2019 в 12:15</td>
                                <td>Барышникова, 12</td>
                                <td>Баранова, 56</td>
                                <td>Пикап-700 руб.</td>
                                <td>Зеленый Киа</td>
                            </tr>
                            <tr>
                                <td>465</td>
                                <td>12-05-2019 в 12:15</td>
                                <td>Барышникова, 12</td>
                                <td>Баранова, 56</td>
                                <td>Пикап-700 руб.</td>
                                <td>Зеленый Киа</td>
                            </tr>
                            <tr>
                                <td>465</td>
                                <td>12-05-2019 в 12:15</td>
                                <td>Барышникова, 12</td>
                                <td>Баранова, 56</td>
                                <td>Пикап-700 руб.</td>
                                <td>Зеленый Киа</td>
                            </tr>
                            <tr>
                                <td>465</td>
                                <td>12-05-2019 в 12:15</td>
                                <td>Барышникова, 12</td>
                                <td>Баранова, 56</td>
                                <td>Пикап-700 руб.</td>
                                <td>Зеленый Киа</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="tableResult">465 12-05-2019 в 10:45 Барышникова, 12 Баранова, 56 Пикап-700 руб. 456, Митсубиси</p>
                <div class="textarea-wrap">
                    <textarea class="textarea" placeholder="Комментарий"></textarea>
                </div>
                <div class="center">
                    <button class="blackLink indentR">Отмена</button>
                    <input type="submit" value="Сохранить" class="btn">
                </div>

            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "new-complaint-modal",
        props: ['isactive'],
        data() {
            return {
                error: null
            }
        }
    }
</script>

<style scoped>

</style>