<template>
    <div id="order_popup" class="popupCt animated fadeIn" :class="{active: isactive}">
        <div class="newOrder">
            <div class="wrap">
                <button class="close abs"></button>
                <div class="row-wrap middle">
                    <div class="col-v2"></div>
                    <div class="col-v6 center"><p class="titleBlock">Новый заказ <span class="text">Номер заказа 1324</span></p></div>
                    <div class="col-v2 right"><a class="doteLink" href="#">Создать жалобу</a></div>
                </div>
                <form class="newOrder__from" action="#">
                    <div class="row-wrap">
                        <div class="col-v6">
                            <div class="inputBox">
                                <div class="input-wrap"><input class="input phone" placeholder="Номер телефона" type="text" required></div>
                                <div class="input-wrap"><input class="input" placeholder="Имя" type="text" required></div>
                                <div class="input-wrap">
                                    <input class="input" placeholder="Откуда" type="text">
                                    <div class="tipSelect">
                                        <div class="tipSelect__item">Ижевск</div>
                                        <div class="tipSelect__item">Ижевск</div>
                                        <div class="tipSelect__item">Ижевск</div>
                                        <div class="tipSelect__item">Ижевск</div>
                                    </div>
                                </div>
                                <div class="input-wrap">
                                    <div class="select-wrap">
                                        <select class="select" name="state">
                                            <option value="1">test 1</option>
                                            <option value="2">test 2</option>
                                            <option value="2">test 3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-wrap">
                                    <input class="input" placeholder="Куда" type="text">
                                </div>
                                <div class="input-wrap">
                                    <div class="textarea-wrap">
                                        <textarea class="textarea" placeholder="Комментарий"></textarea>
                                    </div>
                                </div>
                                <div class="input-wrap">
                                    <input class="input phone" placeholder="Указать другой номер телефона" type="text">
                                </div>
                            </div>
                            <div class="table-wrap pc">
                                <div class="scroll">
                                    <table class="table t6">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Время</th>
                                            <th>Откуда</th>
                                            <th>Куда</th>
                                            <th>Тариф</th>
                                            <th>Исполнитель</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>465</td>
                                            <td>12-05-2019 в 12:15</td>
                                            <td>Барышникова, 12</td>
                                            <td>Баранова, 56</td>
                                            <td>Пикап-700 руб.</td>
                                            <td>Зеленый Киа</td>
                                        </tr>
                                        <tr>
                                            <td>465</td>
                                            <td>12-05-2019 в 12:15</td>
                                            <td>Барышникова, 12</td>
                                            <td>Баранова, 56</td>
                                            <td>Пикап-700 руб.</td>
                                            <td>Зеленый Киа</td>
                                        </tr>
                                        <tr>
                                            <td>465</td>
                                            <td>12-05-2019 в 12:15</td>
                                            <td>Барышникова, 12</td>
                                            <td>Баранова, 56</td>
                                            <td>Пикап-700 руб.</td>
                                            <td>Зеленый Киа</td>
                                        </tr>
                                        <tr>
                                            <td>465</td>
                                            <td>12-05-2019 в 12:15</td>
                                            <td>Барышникова, 12</td>
                                            <td>Баранова, 56</td>
                                            <td>Пикап-700 руб.</td>
                                            <td>Зеленый Киа</td>
                                        </tr>
                                        <tr>
                                            <td>465</td>
                                            <td>12-05-2019 в 12:15</td>
                                            <td>Барышникова, 12</td>
                                            <td>Баранова, 56</td>
                                            <td>Пикап-700 руб.</td>
                                            <td>Зеленый Киа</td>
                                        </tr>
                                        <tr>
                                            <td>465</td>
                                            <td>12-05-2019 в 12:15</td>
                                            <td>Барышникова, 12</td>
                                            <td>Баранова, 56</td>
                                            <td>Пикап-700 руб.</td>
                                            <td>Зеленый Киа</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-v4">
                            <div class="mapBox"></div>
                            <div class="parameterBox">
                                <div class="scroll">
                                    <div class="checkedBtn br">
                                        <input id="c1" type="checkbox" name="cb1">
                                        <label for="c1"><span></span>Физ. лицо</label>
                                    </div>
                                    <div class="checkedBtn br">
                                        <input id="c2" type="checkbox" name="cb1">
                                        <label for="c2"><span></span>Юр. лицо</label>
                                    </div>
                                    <div class="checkedBtn br">
                                        <input id="c3" type="checkbox" name="cb1">
                                        <label for="c3"><span></span>И другие параметры</label>
                                    </div>
                                    <div class="checkedBtn br">
                                        <input id="c4" type="checkbox" name="cb1">
                                        <label for="c4"><span></span>И другие параметры</label>
                                    </div>
                                    <div class="checkedBtn br">
                                        <input id="c5" type="checkbox" name="cb1">
                                        <label for="c5"><span></span>И другие параметры</label>
                                    </div>
                                    <div class="checkedBtn br">
                                        <input id="c6" type="checkbox" name="cb1">
                                        <label for="c6"><span></span>И другие параметры</label>
                                    </div>
                                    <div class="checkedBtn br">
                                        <input id="c7" type="checkbox" name="cb1">
                                        <label for="c7"><span></span>И другие параметры</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-wrap">
                        <div class="col-v6">
                            <div class="right indent">
                                <button class="blackLink indentR">Отмена</button>
                                <input type="submit" value="Сохранить" class="btn">
                            </div>
                        </div>
                        <div class="col-v1"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "new-order-modal",
        props: ['isactive'],
        data() {
            return {
                error: null
            }
        }
    }
</script>

<style scoped>

</style>